workflows/0ZHhcsrLRipjRr4X2y0Dk.json
{"updatedAt":"2026-06-05T08:24:25.159Z","createdAt":"2026-06-05T08:24:09.067Z","id":"0ZHhcsrLRipjRr4X2y0Dk","name":"DB->Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"-1003975411943","text":"={{ $json.title }}\n\n{{ $json.post_text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,0],"id":"f0adf7e1-b016-4725-a1f8-fe0618666e82","name":"Send a text message","webhookId":"c230d68f-aff2-4131-b7df-a82084d8318a","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, post_text, status\nFROM posts\nWHERE status = 'approved'\nORDER BY id DESC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"id":"d7940150-8410-423e-8f49-512079c1495a","name":"Select Approved Post","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"90d53b4e-906b-482d-b8b6-f9cc1bc25add","name":"When Executed by Another Workflow"}],"connections":{"Select Approved Post":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select Approved Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"90bb7a1b-bc44-4fdb-95af-d39a9b63d627","activeVersionId":"90bb7a1b-bc44-4fdb-95af-d39a9b63d627","versionCounter":19,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-05T08:24:09.067Z","createdAt":"2026-06-05T08:24:09.067Z","role":"workflow:owner","workflowId":"0ZHhcsrLRipjRr4X2y0Dk","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}