workflows/i2zSvgz50XgPBoyOh2HeI.json
{"updatedAt":"2026-06-07T10:15:26.851Z","createdAt":"2026-06-03T22:31:02.297Z","id":"i2zSvgz50XgPBoyOh2HeI","name":"Products+Topics=>","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"Ты эксперт по продуктам Herbalife.\n\nТвоя задача определить какие темы подходят каждому продукту.\n\nЯ передам:\n\n1. Список продуктов\n2. Список тем\n\nДля каждого продукта выбери от 0 до 10 наиболее подходящих тем.\n\nИспользуй:\n- название продукта\n- категорию\n- описание продукта\n\nНе придумывай новые темы.\n\nВерни ТОЛЬКО JSON.\n\nФормат:\n\n[\n  {\n    \"product_id\": 1,\n    \"topic_ids\": [2,5,8]\n  },\n  {\n    \"product_id\": 2,\n    \"topic_ids\": [1,4]\n  }\n]\n\nНикакого текста.\nНикаких пояснений.\nТолько валидный JSON."},{"content":"=Продукты:\n\n{{ JSON.stringify($json.data.products) }}\n\nТемы:\n\n{{ JSON.stringify($json.data.topics) }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[496,0],"id":"53b189f9-8418-428c-8eb8-90d0965d4b70","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const raw = $json.output[0].content[0].text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst links = JSON.parse(raw);\n\nconst result = [];\n\nfor (const item of links) {\n  for (const topicId of item.topic_ids) {\n    result.push({\n      json: {\n        product_id: item.product_id,\n        topic_id: topicId\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"id":"9f0b4b6d-43e0-4082-b10a-e9bdd41af667","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT json_build_object(\n    'products',\n    (\n        SELECT json_agg(\n            json_build_object(\n                'id', id,\n                'name', name,\n                'category', category,\n                'description', description\n            )\n        )\n        FROM products\n    ),\n    'topics',\n    (\n        SELECT json_agg(\n            json_build_object(\n                'id', id,\n                'title', title,\n                'description', description\n            )\n        )\n        FROM topics\n        WHERE status = 'active'\n    )\n) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"a6ce5edc-d794-4648-8677-1e5cb3b20af6","name":"Select Products And Topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"37e8d46e-e6c4-4244-9026-0f2b829cb9ce","name":"Schedule Trigger"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"product_topics","mode":"list","cachedResultName":"product_topics"},"columns":{"mappingMode":"defineBelow","value":{"topic_id":"={{$json.topic_id}}","product_id":"={{$json.product_id}}"},"matchingColumns":["product_id","topic_id"],"schema":[{"id":"product_id","displayName":"product_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"topic_id","displayName":"topic_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,0],"id":"00014117-3ade-4a84-8a25-88fb2b4e1dd5","name":"INSERT products TO product_topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"INSERT products TO product_topics","type":"main","index":0}]]},"Select Products And Topics":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Select Products And Topics","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cefcfd88-6d61-4568-b695-c843cb692f62","activeVersionId":"d38094a5-3fa1-4892-81c8-43c056428123","versionCounter":75,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-03T22:31:02.297Z","createdAt":"2026-06-03T22:31:02.297Z","role":"workflow:owner","workflowId":"i2zSvgz50XgPBoyOh2HeI","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}