workflows/NCCa62k8C003IJxs.json
{"updatedAt":"2026-06-07T08:48:54.963Z","createdAt":"2026-06-04T20:52:20.804Z","id":"NCCa62k8C003IJxs","name":"Publich /topic#","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ти професійний SMM-копірайтер бренду Healthy Support.\n\nМова: українська.\n\nСтворюй корисні Telegram-пости про:\n\n* здоровий спосіб життя;\n* збалансоване харчування;\n* контроль ваги;\n* енергію та продуктивність;\n* якість життя;\n* корисні звички;\n* активний спосіб життя.\n\nЦільова аудиторія:\n\n* підприємці;\n* керівники;\n* висококваліфіковані спеціалісти;\n* спортсмени;\n* молоді батьки;\n* зайняті люди;\n* люди, які цінують здоров'я та власний час.\n\nСтиль:\n\n* дружній;\n* експертний;\n* мотивуючий;\n* практичний;\n* сучасний.\n\nОсновні принципи:\n\n* не використовуй медичні обіцянки;\n* не використовуй лікувальні твердження;\n* не гарантуй результатів;\n* не став діагнози;\n* не використовуй фрази:\n\n  * \"вилікує\";\n  * \"гарантовано допоможе\";\n  * \"позбавить хвороби\";\n  * \"зцілить\".\n\nДопускається говорити про:\n\n* підтримку здорових звичок;\n* контроль калорійності;\n* достатню кількість білка;\n* збалансоване харчування;\n* підтримку енергії протягом дня;\n* економію часу на приготуванні їжі;\n* покращення харчових звичок;\n* активний спосіб життя;\n* продуктивність;\n* самопочуття;\n* розвиток власного бізнесу та додаткового доходу.\n\nПри створенні контенту враховуй типові проблеми аудиторії:\n\n* нестача часу;\n* нерегулярне харчування;\n* пропуск прийомів їжі;\n* перекуси на ходу;\n* низький рівень енергії наприкінці дня;\n* складність контролю калорій;\n* недостатнє споживання білка;\n* бажання покращити самопочуття та зовнішній вигляд.\n\nФокусуйся не на продукті, а на результаті для людини.\n\nСпочатку описуй проблему або потребу.\n\nПотім показуй рішення.\n\nЛише після цього згадуй продукти.\n\nОсновою рекомендацій мають бути здорові харчові звички та звичайні продукти харчування.\n\nПідбирай натуральні продукти відповідно до теми.\n\nПриклади:\n\n* яйця;\n* риба;\n* морепродукти;\n* курятина;\n* індичка;\n* творог;\n* грецький йогурт;\n* бобові;\n* овочі;\n* зелень;\n* ягоди;\n* цитрусові;\n* горіхи;\n* насіння;\n* чиста вода.\n\nПродукти Herbalife використовуй як додатковий інструмент для:\n\n* отримання білка;\n* контролю калорійності;\n* економії часу;\n* підтримки здорових харчових звичок;\n* зручності для зайнятих людей.\n\nЯкщо продукт Herbalife згадується:\n\n* поясни його роль;\n* підбери натуральні альтернативи із супермаркету;\n* враховуй калорійність та білок якщо дані доступні;\n* порівняй за зручністю використання.\n\nОцінка якості продуктів:\n\nНадавай перевагу продуктам з:\n\n* високою поживною цінністю;\n* достатньою кількістю білка;\n* клітковиною;\n* вітамінами;\n* мінералами;\n* помірною калорійністю;\n* мінімальною обробкою.\n\nОбмежено рекомендуй продукти з:\n\n* великою кількістю доданого цукру;\n* великою кількістю рафінованих вуглеводів;\n* низькою поживною цінністю;\n* надлишковою калорійністю.\n\nЯкщо згадуються солодкі газовані напої, десерти або ультраоброблені продукти, пояснюй що:\n\n* вони можуть давати короткочасний приплив енергії;\n* після різкого підйому цукру може виникати спад енергії;\n* регулярне надмірне споживання цукру може ускладнювати контроль апетиту;\n* надлишок цукру та нестача клітковини можуть негативно впливати на баланс мікробіоти кишківника;\n* здоров'я кишківника пов'язують зі станом шкіри, загальним самопочуттям та обміном речовин.\n\nНе стверджуй прямий причинно-наслідковий зв'язок між окремим продуктом та хворобою.\n\nВикористовуй формулювання:\n\n* \"може сприяти\";\n* \"може впливати\";\n* \"пов'язують з\";\n* \"дослідження показують зв'язок\".\n\nСтруктура поста:\n\n1. Яскравий заголовок.\n2. Короткий вступ.\n3. Основна користь.\n4. Практична порада.\n5. Заклик до дії.\n\nДовжина:\n\n800-1200 символів.\n\nДодай 3-5 релевантних хештегів.\n\nПеред написанням поста виконай внутрішньо:\n\n1. Визнач тему.\n2. Відбери релевантні продукти.\n3. Відкинь нерелевантні продукти.\n4. Підбери натуральні альтернативи.\n5. Склади тези.\n6. Напиши пост.\n7. Заповни JSON.\n\nПовертай тільки JSON.\n\nФормат:\n\n{\n\"title\": \"\",\n\"post_text\": \"\",\n\"topic\": \"\",\n\"products_used\": [],\n\"supermarket_alternatives\": [],\n\"hashtags\": [],\n\"score\": 0,\n\"approved\": false,\n\"issues\": [],\n\"suggestion\": \"\"\n}\n\nОцінка:\n\nscore від 1 до 10\n\n10 = відмінний пост\n8-9 = хороший пост\n6-7 = потребує покращення\n1-5 = потребує суттєвого доопрацювання\n\napproved=true лише якщо score >= 8.\n\nПеред поверненням відповіді перевір:\n\n* JSON валідний;\n* усі поля заповнені;\n* products_used є масивом;\n* supermarket_alternatives є масивом;\n* hashtags є масивом;\n* score є числом;\n* approved є булевим значенням.\n\nНе додавай текст поза JSON.\n"},{"role":"=user","content":"=Тема:\n\n{{ $('Select of Topic').item.json.title }}\n\nОпис теми:\n\n{{ $('Select of Topic').item.json.description }}\n\nПродукти Herbalife:\n\n{{\n` ${$json.herbalife_product.name}\n${$json.herbalife_product.category}\n ${$json.herbalife_product.description}`\n}}\n\nДоступні продукти:\n\n{{\n$json.food_products\n.map(p =>\n`Продукт: ${p.name}\nКатегорія: ${p.category}\nОпис: ${JSON.stringify(p.nutrition)}`\n)\n.join('\\n\\n')\n}}\n\nІнструкції:\n\n1. Визнач продукти, які дійсно релевантні темі.\n2. Не використовуй нерелевантні продукти.\n3. Якщо згадується Herbalife — запропонуй альтернативи зі звичайних продуктів.\n4. Якщо жоден продукт не підходить — не згадуй його.\n5. Основний акцент роби на користі для здорових харчових звичок та способу життя.\n6. Для зайнятих людей підкреслюй економію часу.\n7. Для підприємців та професіоналів підкреслюй продуктивність та якість життя.\n8. Створи Telegram-пост.\n9. Поверни лише JSON.\n"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","verbosity":"=medium","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"post_text\": {\n      \"type\": \"string\"\n    },\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"products_used\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"hashtags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"score\": {\n      \"type\": \"integer\",\n      \"default\":0\n    },\n    \"approved\": {\n      \"type\": \"boolean\",\n      \"default\":false\n    },\n    \"issues\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"default\":[]\n    },\n    \"suggestion\": {\n      \"type\": \"string\",\n      \"default\":\"\"\n    }\n  },\n  \"required\": [\n    \"title\",\n    \"post_text\",\n    \"topic\",\n    \"products_used\",\n    \"hashtags\",\n    \"score\",\n    \"approved\",\n    \"issues\",\n    \"suggestion\"\n  ],\n  \"additionalProperties\": false\n}"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[880,0],"id":"4adb03e7-b280-4d80-8da6-aedc6e8a0e34","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, description\nFROM topics\nWHERE id = {{ $json.topic_id }}\nORDER BY\n  priority DESC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,0],"id":"9b63c332-73c6-46b9-8804-f5eebda0f618","name":"Select of Topic","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"posts","mode":"list","cachedResultName":"posts"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{$('Select of Topic').item.json.title}}","topic":"={{$('Select of Topic').item.json.title}}","prompt":"={{$('Select of Topic').item.json.description}}","post_text":"={{$json.output[0].content[0].text.post_text}}","score":"={{ $json.output[0].content[0].text.score }}","status":"={{ $json.output[0].content[0].text.approved?'approved':'darft' }}","approved_at":"={{ new Date().toDateTime()}}","published_at":"={{ new Date().toDateTime()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_text","displayName":"post_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_materials","displayName":"source_materials","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"news_context","displayName":"news_context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gpt_response","displayName":"gpt_response","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"approved_at","displayName":"approved_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"published_at","displayName":"published_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-144],"id":"d367f7e2-7afe-4471-831e-1a57c7d94413","name":"Insert to Posts","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE topics\nSET used_at = now()\nWHERE id = {{ $('Select of Topic').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1904,-144],"id":"b579d292-0247-4621-b960-9ddf1cf251a4","name":"Update topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"WITH selected_topic AS (\n    SELECT {{ $('Select of Topic').item.json.id }}::integer AS topic_id\n),\n\nlinked_products AS (\n    SELECT p.*\n    FROM products p\n    JOIN product_topics pt ON pt.product_id = p.id\n    JOIN selected_topic st ON st.topic_id = pt.topic_id\n    ORDER BY RANDOM()\n    LIMIT 3\n),\n\nfallback_products AS (\n    SELECT p.*\n    FROM products p\n    ORDER BY RANDOM()\n    LIMIT 3\n),\n\nselected_products AS (\n    SELECT *\n    FROM linked_products\n\n    UNION ALL\n\n    SELECT *\n    FROM fallback_products\n    WHERE NOT EXISTS (SELECT 1 FROM linked_products)\n\n    LIMIT 3\n),\n\nrandom_food_products AS (\n    SELECT\n        jsonb_build_object(\n            'name', name,\n            'category', category,\n            'nutrition', raw_data\n        ) AS product\n    FROM food_products\n    WHERE is_allowed = TRUE\n    ORDER BY RANDOM()\n    LIMIT 10\n)\n\nSELECT jsonb_build_object(\n    'herbalife_products',\n    (\n        SELECT jsonb_agg(\n            jsonb_build_object(\n                'id', id,\n                'name', name,\n                'category', category,\n                'description', description\n            )\n        )\n        FROM selected_products\n    ),\n    'food_products',\n    (\n        SELECT jsonb_agg(product)\n        FROM random_food_products\n    )\n) AS context;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,0],"id":"9d0eada7-f91f-4755-899d-e1edba8ceea2","name":"JOIN product_topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"jsCode":"const herbalife = [...$json.context.herbalife_products];\nconst food = [...$json.context.food_products];\n\n// 1 случайный Herbalife\nconst randomHerbalife =\n  herbalife[Math.floor(Math.random() * herbalife.length)];\n\n// Перемешиваем food\nfood.sort(() => Math.random() - 0.5);\n\n// Берем 5 случайных\nconst randomFood = food.slice(0, 5);\n\nreturn [{\n  json: {\n    herbalife_product: randomHerbalife,\n    food_products: randomFood\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0],"id":"7f2947d0-6480-47ef-8092-075acbef7563","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output[0].content[0].text.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"5b81077c-09b5-4901-a9e9-ba7a83826136"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb0d837a-53a9-4ce1-a728-1cdec86a216d","leftValue":"={{ $json.output[0].content[0].text.approved }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1472,0],"id":"8c7b4788-0089-4b2d-bb8c-bb0890438a17","name":"Switch"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,0],"id":"4dd21ea0-f136-447b-80e0-7b0689066c82","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"0ZHhcsrLRipjRr4X2y0Dk","mode":"list","cachedResultUrl":"/workflow/0ZHhcsrLRipjRr4X2y0Dk","cachedResultName":"DB->Telegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2144,-144],"id":"48aae8fa-eccc-4dad-baca-b93857f7af96","name":"Call 'DB->Telegram'"},{"parameters":{"chatId":"=-1003984531998","text":"={{ \"Опубліковано топік номер \"+ $('Select of Topic').item.json.id }};","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2352,-144],"id":"d0125a3c-a8f1-4b37-a58b-26dbe4c00095","name":"Publish post of topic#","webhookId":"47ed7859-ddd5-483a-8488-813e06fa3ad9","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}}],"connections":{"Message a model":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Select of Topic":{"main":[[{"node":"JOIN product_topics","type":"main","index":0}]]},"Insert to Posts":{"main":[[{"node":"Update topics","type":"main","index":0}]]},"Update topics":{"main":[[{"node":"Call 'DB->Telegram'","type":"main","index":0}]]},"JOIN product_topics":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Insert to Posts","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select of Topic","type":"main","index":0}]]},"Call 'DB->Telegram'":{"main":[[{"node":"Publish post of topic#","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc8b9d27-7ccd-4705-aa79-b92ed9ea5954","activeVersionId":"bc8b9d27-7ccd-4705-aa79-b92ed9ea5954","versionCounter":193,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T20:52:20.804Z","createdAt":"2026-06-04T20:52:20.804Z","role":"workflow:owner","workflowId":"NCCa62k8C003IJxs","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}