workflows/OIX5VTf1FFP3Kgilt0hrb.json
{"updatedAt":"2026-06-07T20:33:37.420Z","createdAt":"2026-06-07T09:14:35.425Z","id":"OIX5VTf1FFP3Kgilt0hrb","name":"Video->Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO videos (\n    telegram_file_id,\n    caption,\n    source_chat_id,\n    source_message_id\n)\nVALUES (\n '{{ $(\"When Executed by Another Workflow\").item.json.telegram_file_id }}',\n    '{{ $(\"When Executed by Another Workflow\").item.json.caption }}',\n    {{ $(\"When Executed by Another Workflow\").item.json.source_chat_id }},\n    {{ $(\"When Executed by Another Workflow\").item.json.source_message_id }}\n)\nRETURNING id, telegram_file_id, caption;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,-80],"id":"c58682d7-85c4-4a9e-850e-d683a79a8cbc","name":"Insert Video","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"WITH existing AS (\n    SELECT id, title\n    FROM topics\n    WHERE LOWER(TRIM(title)) = LOWER(TRIM('{{ $json.title }}'))\n    LIMIT 1\n),\ninserted AS (\n    INSERT INTO topics (\n        title,\n        description,\n        language,\n        status,\n        priority\n    )\n    SELECT\n        '{{ $json.title }}',\n        NULL,\n        'uk',\n        'active',\n        {{ $json.priority }}\n    WHERE NOT EXISTS (SELECT 1 FROM existing)\n    RETURNING id, title\n)\nSELECT id, title\nFROM inserted\n\nUNION ALL\n\nSELECT id, title\nFROM existing\n\nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-80],"id":"ff36e344-4929-4061-8dca-e28652031fbf","name":"Upsert Topic","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO video_topics (\n    video_id,\n    topic_id\n)\nVALUES (\n    {{ $('Insert Video').item.json.id }},\n    {{ $('Upsert Topic').item.json.id }}\n)\nON CONFLICT DO NOTHING\nRETURNING video_id, topic_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,-80],"id":"bd9ab410-76a8-4c91-be90-048a893f9df1","name":"video_id TO topic_id","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos\nSET\n    channel_chat_id = {{ $('Send Video').item.json.result.chat.id }},\n    channel_message_id = {{ $('Send Video').item.json.result.message_id }},\n    published_at = now()\nWHERE id = {{ $('Insert Video').item.json.id }}\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,-80],"id":"be01eb1b-21d0-45dd-86ed-2f6a10c5e38e","name":"UPDATE videos","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[128,-80],"id":"d1f21560-efb5-4c9b-928b-93fea6edb483","name":"When Executed by Another Workflow"},{"parameters":{"operation":"sendVideo","chatId":"-1003975411943","file":"={{$('When Executed by Another Workflow').item.json.telegram_file_id}}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"👍 0","additionalFields":{"callback_data":"=like_video_{{$('Insert Video').item.json.id}}"}},{"text":"👎 0","additionalFields":{"callback_data":"=dislike_video_{{$('Insert Video').item.json.id}}"}}]}}]},"additionalFields":{"caption":"={{ $(\"When Executed by Another Workflow\").item.json.caption }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1088,-80],"id":"95723c94-70cf-4f39-8b35-f7ae16d42358","name":"Send Video","webhookId":"211d0587-6f0c-4e74-9ccc-1877c3bc22e3","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}}],"connections":{"Insert Video":{"main":[[{"node":"video_id TO topic_id","type":"main","index":0}]]},"Upsert Topic":{"main":[[{"node":"Insert Video","type":"main","index":0}]]},"video_id TO topic_id":{"main":[[{"node":"Send Video","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Upsert Topic","type":"main","index":0}]]},"Send Video":{"main":[[{"node":"UPDATE videos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c4b2cccf-84e4-479f-9ba5-02ac8592adc6","activeVersionId":"c4b2cccf-84e4-479f-9ba5-02ac8592adc6","versionCounter":190,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-07T09:14:35.425Z","createdAt":"2026-06-07T09:14:35.425Z","role":"workflow:owner","workflowId":"OIX5VTf1FFP3Kgilt0hrb","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}