workflows/okYfZFlOdzWYwzPlnmW6b.json
{"updatedAt":"2026-06-04T18:57:10.295Z","createdAt":"2026-06-03T19:51:27.189Z","id":"okYfZFlOdzWYwzPlnmW6b","name":"PDF Catalog -> Products","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"76787743-2c8e-47e9-bc7a-44bf0e3c7097","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/home/node/.n8n-files/HL_catalog_2026.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-192,0],"id":"1edf41d9-e537-4df2-935e-ab4fd6327af7","name":"Read/Write Files from Disk"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[16,0],"id":"d434d7d7-9654-4dfa-8590-747bf4aa3f9c","name":"Extract from File"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst text = input.text || input.data || '';\n\nconst maxLength = 8000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push(text.slice(i, i + maxLength));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunk_id: index + 1,\n    content: chunk,\n    chars: chunk.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"eb783326-8e06-4b23-ab10-4297cfbbbc78","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ты анализируешь каталог Herbalife.\n\nИзвлеки все найденные продукты.\n\nДля каждого продукта верни:\n\n- name\n- category\n- description\n\n\nВерни ТОЛЬКО JSON массив.\n\nПример:\n\n[\n  {\n    \"name\": \"Формула 1\",\n    \"category\": \"Коктейль\",\n    \"description\": \"Белковый коктейль\",\n  }\n]\n\nЕсли данных нет — null.\nНикакого текста кроме JSON."},{"content":"={{$json.content}}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[480,0],"id":"c1f8ae8c-f7b0-44de-87d1-5f6029b4138d","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json.output?.[0]?.content?.[0]?.text || '';\n\n  const cleaned = raw\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!cleaned || cleaned === 'null') {\n    continue;\n  }\n\n  let products;\n\n  try {\n    products = JSON.parse(cleaned);\n  } catch (e) {\n    continue;\n  }\n\n  if (!Array.isArray(products)) {\n    continue;\n  }\n\n  for (const product of products) {\n    results.push({\n      json: {\n        name: product.name || null,\n        category: product.category || null,\n        description: product.description || null,\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-16],"id":"a4424576-e3b5-4d5c-bd4f-3dd3a697baa3","name":"Code in JavaScript2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","category":"={{ $json.category }}","description":"={{ $json.description }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"benefits","displayName":"benefits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingredients","displayName":"ingredients","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"usage_method","displayName":"usage_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"calories","displayName":"calories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"protein","displayName":"protein","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fiber","displayName":"fiber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vitamins","displayName":"vitamins","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source_file","displayName":"source_file","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"page_number","displayName":"page_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,-16],"id":"ae3ee7eb-8721-4da7-aad7-171e9bc1f533","name":"Insert rows in a table","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b1bc223-50ae-4e2b-9901-f65ab1501718","activeVersionId":null,"versionCounter":133,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-03T19:51:27.189Z","createdAt":"2026-06-03T19:51:27.189Z","role":"workflow:owner","workflowId":"okYfZFlOdzWYwzPlnmW6b","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}