workflows/Pj4h2HteFqw0Pn8RRQUKx.json
{"updatedAt":"2026-06-04T20:48:58.592Z","createdAt":"2026-06-02T20:21:32.589Z","id":"Pj4h2HteFqw0Pn8RRQUKx","name":"DB->Telegram","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"chatId":"-1003975411943","text":"={{ $json.title }}\n\n{{ $json.post_text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,16],"id":"f77a2301-5e90-43cc-8baa-964ad62bc1e7","name":"Send a text message","webhookId":"c230d68f-aff2-4131-b7df-a82084d8318a","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, post_text, status\nFROM posts\nWHERE status = 'approved'\nORDER BY id DESC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,16],"id":"d420cbda-1bc8-4a97-b4eb-47975cfb6877","name":"Select Approved Post","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-352,16],"id":"1b908c62-e867-4a78-a18d-8f7c3a5c0b51","name":"When Executed by Another Workflow"}],"connections":{"Send a text message":{"main":[[]]},"Select Approved Post":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select Approved Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f453652d-5843-4357-a176-a783f0d3a3f2","activeVersionId":null,"versionCounter":123,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-02T20:21:32.589Z","createdAt":"2026-06-02T20:21:32.589Z","role":"workflow:owner","workflowId":"Pj4h2HteFqw0Pn8RRQUKx","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}