workflows/S0RXyoVw88jve2em.json
{"updatedAt":"2026-06-07T09:38:59.722Z","createdAt":"2026-06-04T14:31:24.022Z","id":"S0RXyoVw88jve2em","name":"PDF Recepts with Products","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"bbaebe1a-488c-4fd7-b646-43c4aed56c2e","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/home/node/.n8n-files/HL_catalog_2026.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-192,0],"id":"e92e0338-effb-4000-bd9f-a74111984190","name":"Read/Write Files from Disk"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[16,0],"id":"58962970-fda5-4a44-a7f0-e1b3b19266f0","name":"Extract from File"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst text = input.text || input.data || '';\n\nconst maxLength = 8000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push(text.slice(i, i + maxLength));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunk_id: index + 1,\n    content: chunk,\n    chars: chunk.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"2a3be08b-2ce9-41b0-a7a6-a5e9e18384b1","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ты анализируешь каталог Herbalife.\n\nИзвлеки все найденные продукты.\n\nДля каждого продукта верни:\n\n- name\n- category\n- description\n\n\nВерни ТОЛЬКО JSON массив.\n\nПример:\n\n[\n  {\n    \"name\": \"Формула 1\",\n    \"category\": \"Коктейль\",\n    \"description\": \"Белковый коктейль\",\n  }\n]\n\nЕсли данных нет — null.\nНикакого текста кроме JSON."},{"content":"={{$json.content}}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[480,0],"id":"547aa84d-1741-4bd6-b740-2d261cd07425","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json.output?.[0]?.content?.[0]?.text || '';\n\n  const cleaned = raw\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!cleaned || cleaned === 'null') {\n    continue;\n  }\n\n  let products;\n\n  try {\n    products = JSON.parse(cleaned);\n  } catch (e) {\n    continue;\n  }\n\n  if (!Array.isArray(products)) {\n    continue;\n  }\n\n  for (const product of products) {\n    results.push({\n      json: {\n        name: product.name || null,\n        category: product.category || null,\n        description: product.description || null,\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"dbf885bd-52b1-4c68-8d7d-89ae7c0a272b","name":"Code in JavaScript2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","category":"={{ $json.category }}","description":"={{ $json.description }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"benefits","displayName":"benefits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingredients","displayName":"ingredients","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"usage_method","displayName":"usage_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"calories","displayName":"calories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"protein","displayName":"protein","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fiber","displayName":"fiber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vitamins","displayName":"vitamins","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source_file","displayName":"source_file","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"page_number","displayName":"page_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,0],"id":"73fae330-b507-4098-9b7c-64ba19d7f3e4","name":"Insert TO products","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Insert TO products","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b2d646d-16c1-4460-8773-e835669d5772","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T14:31:24.022Z","createdAt":"2026-06-04T14:31:24.022Z","role":"workflow:owner","workflowId":"S0RXyoVw88jve2em","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}