workflows/vNe-M6FNNeaEPJEAgURhb.json
{"updatedAt":"2026-06-07T20:03:00.120Z","createdAt":"2026-06-03T00:29:09.125Z","id":"vNe-M6FNNeaEPJEAgURhb","name":"Approval Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["callback_query","message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-32,16],"id":"c0d83c45-e699-4cb7-97d4-d3947dc2014a","name":"Telegram Trigger","webhookId":"9b120224-d19f-4b65-9b5c-9ca9b085794c","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO topics (\n    title,\n    language,\n    priority,\n    status\n)\nVALUES (\n    '{{ $json.topic }}',\n    'uk',\n    {{ $json.priority }},\n    'active'\n)\nRETURNING id, title;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,-208],"id":"0d98b05f-237a-486d-a030-6da825483cd9","name":"Insert Topic","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"24deb096-b653-4bff-a829-c210e22994b6","leftValue":"={{$json.command}}","rightValue":"commands","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cc241386-1041-4ad8-b1cb-960debe27225","leftValue":"={{$json.command}}","rightValue":"generate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{$json.command}}","rightValue":"addtopic","operator":{"type":"string","operation":"equals"},"id":"4b84dbf3-645f-467d-a125-bd923e7c0fa3"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8d33eb86-b256-4ba4-a768-33aa735556ce","leftValue":"={{$json.command}}","rightValue":"topics","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70e58113-984e-4ce5-b9ba-2ac4997b2171","leftValue":"={{$json.command}}","rightValue":"topic","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e7192d27-1a8d-4ae0-a3fb-0153f0f2085b","leftValue":"={{$json.command}}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7f8e7ebe-5ff2-48b8-af8c-912547c2130a","leftValue":"={{$json.command}}","rightValue":"video_reaction","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[400,-16],"id":"0848147d-9389-48fb-bd64-e08aa52d6a52","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"paMq7Rolh0IjH8fPl-0Ax","mode":"list","cachedResultUrl":"/workflow/paMq7Rolh0IjH8fPl-0Ax","cachedResultName":"GPT->DB"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":"={{ true }}"}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[688,-416],"id":"facc41c0-a8c4-4a23-84c3-8b06c9650e9b","name":"Call 'GPT->DB'"},{"parameters":{"chatId":"=-1003984531998","text":"={{ \"✅ Тему додано: \" + $json.title }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,-208],"id":"4fb4c418-2967-422c-be73-047f721b66d2","name":"Success massage topics","webhookId":"47ed7859-ddd5-483a-8488-813e06fa3ad9","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      text: '📭 Активных тем пока нет.'\n    }\n  }];\n}\n\nconst lines = items.map((item, index) => {\n  const t = item.json;\n  return `${index + 1}. #${t.id} — ${t.title} | priority: ${t.priority}`;\n});\n\nreturn [{\n  json: {\n    text: '📋 Активные темы:\\n\\n' + lines.join('\\n')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-16],"id":"ad5db39d-77b8-42a3-96d8-86f6f0d29e24","name":"Code in JavaScript1"},{"parameters":{"chatId":"=-1003984531998","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,-16],"id":"0eededb8-2e50-4e41-8fe0-91a21500adef","name":"Topics Themes","webhookId":"47ed7859-ddd5-483a-8488-813e06fa3ad9","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, status, priority, used_at\nFROM topics\nWHERE status = 'active'\nORDER BY RANDOM()\nLIMIT 3;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,-16],"id":"337bf9cd-bea1-4a61-9d74-a048d1c5df41","name":"Topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"NCCa62k8C003IJxs","mode":"list","cachedResultUrl":"/workflow/NCCa62k8C003IJxs","cachedResultName":"Publich /topic#"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[688,208],"id":"7bfb31d1-1fed-49ba-a779-7caba6b3f486","name":"Call 'Publich /topic#'"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO video_reactions (\n    video_id,\n    telegram_user_id,\n    reaction\n)\nVALUES (\n    {{ $json.video_id }},\n    {{ $json.telegram_user_id }},\n    '{{ $json.reaction }}'\n)\nON CONFLICT (video_id, telegram_user_id)\nDO UPDATE SET\n    reaction = EXCLUDED.reaction,\n    updated_at = now()\nRETURNING video_id, telegram_user_id, reaction;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,624],"id":"0069be61-6fac-49e1-9728-485828258b84","name":"Save Reaction","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n    v.id AS video_id,\n    v.channel_chat_id,\n    v.channel_message_id,\n    COUNT(*) FILTER (WHERE vr.reaction = 'like') AS likes,\n    COUNT(*) FILTER (WHERE vr.reaction = 'dislike') AS dislikes\nFROM videos v\nLEFT JOIN video_reactions vr\n    ON vr.video_id = v.id\nWHERE v.id = {{ $('Code Router').item.json.video_id }}\nGROUP BY v.id, v.channel_chat_id, v.channel_message_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,624],"id":"d03036b0-3509-4c34-a764-4ef3c3d778e1","name":"Update Count","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"jsCode":"const callbackData = $json.callback_query?.data;\nconst callbackUserId = $json.callback_query?.from?.id;\n\nif (callbackData?.startsWith('like_video_')) {\n  return [{\n    json: {\n      command: 'video_reaction',\n      video_id: Number(callbackData.replace('like_video_', '')),\n      reaction: 'like',\n      telegram_user_id: callbackUserId\n    }\n  }];\n}\n\nif (callbackData?.startsWith('dislike_video_')) {\n  return [{\n    json: {\n      command: 'video_reaction',\n      video_id: Number(callbackData.replace('dislike_video_', '')),\n      reaction: 'dislike',\n      telegram_user_id: callbackUserId\n    }\n  }];\n}\n\nconst msg = $json.message || {};\nconst messageText = (msg.text || msg.caption || '').trim();\nconst chatId = msg.chat?.id;\n\n//video 10(тут треба писати номер топіка) | Тут іде назвап топіка\nif (messageText.startsWith('/video') && msg.video) {\n  const commandPart = messageText.replace('/video', '').trim();\n  const [priorityPart, ...titleParts] = commandPart.split('|');\n\n  const priority = Number((priorityPart || '').trim());\n  const title = titleParts.join('|').trim();\n\n  if (!title) {\n    throw new Error('Video title is missing. Use: /video 10 | Назва теми');\n  }\n\n  return [{\n    json: {\n      command: 'video',\n      priority: Number.isFinite(priority) ? priority : 5,\n      title,\n      caption: title,\n      telegram_file_id: msg.video.file_id,\n      source_chat_id: msg.chat.id,\n      source_message_id: msg.message_id,\n      chat_id: msg.chat.id\n    }\n  }];\n}\n\n// commands\nif (messageText === '/commands' || messageText === '/comands') {\n  return [{\n    json: {\n      command: 'commands',\n      chat_id: chatId\n    }\n  }];\n}\n\n// addtopic\nif (messageText.startsWith('/addtopic')) {\n  const parts = messageText.split(' ').slice(1);\n  const last = Number(parts[parts.length - 1]);\n\n  let priority = 5;\n  let topic = parts.join(' ');\n\n  if (!isNaN(last)) {\n    priority = last;\n    topic = parts.slice(0, -1).join(' ');\n  }\n\n  return [{\n    json: {\n      command: 'addtopic',\n      topic,\n      priority,\n      chat_id: chatId\n    }\n  }];\n}\n\n// /topic 15\nif (messageText.startsWith('/topic ')) {\n  const parts = messageText.split(' ').slice(1);\n  const last = Number(parts[parts.length - 1]);\n\n  return [{\n    json: {\n      command: 'topic',\n      topic_id: !isNaN(last) ? last : null,\n      chat_id: chatId\n    }\n  }];\n}\n\n// empty / not command\nif (!messageText || !messageText.startsWith('/')) {\n  return [];\n}\n\n// default command\nconst [commandRaw, ...args] = messageText.split(' ');\nconst command = commandRaw.replace('/', '');\n\nreturn [{\n  json: {\n    command,\n    args,\n    text: args.join(' ').trim(),\n    chat_id: chatId\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,16],"id":"1e7d2ec3-1808-4876-aac3-c070ed53a377","name":"Code Router"},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_TOKEN + '/editMessageReplyMarkup' }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"{{$env.TELEGRAM_CHANNEL_ID}}\",\n  \"message_id\": {{$json.channel_message_id}},\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\n          \"text\": \"👍 {{$json.likes}}\",\n          \"callback_data\": \"like_video_{{ $json.video_id }}\"\n        },\n        {\n          \"text\": \"👎 {{$json.dislikes}}\",\n          \"callback_data\": \"dislike_video_{{ $json.video_id}}\"\n        }\n      ]\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,624],"id":"5a2e7c74-bdfa-4226-89a9-ab010531b1cc","name":"HTTP Request"},{"parameters":{"chatId":"={{ $env.TELEGRAM_ADMIN_CHAT_ID }}","text":"ТУТУ будут команды управления каналом ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,-608],"id":"d5c352d0-7e9a-49f7-b154-71597a608a34","name":"Send a text message1","webhookId":"5895d9e4-81ef-4b24-a9b5-f4ffdfc812bd","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"OIX5VTf1FFP3Kgilt0hrb","mode":"list","cachedResultUrl":"/workflow/OIX5VTf1FFP3Kgilt0hrb","cachedResultName":"Video->Telegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[688,432],"id":"ab4ee55c-1711-456d-8806-fb75d1c10628","name":"Call 'Video->Telegram'"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Code Router","type":"main","index":0}]]},"Insert Topic":{"main":[[{"node":"Success massage topics","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Call 'GPT->DB'","type":"main","index":0}],[{"node":"Insert Topic","type":"main","index":0}],[{"node":"Topics","type":"main","index":0}],[{"node":"Call 'Publich /topic#'","type":"main","index":0}],[{"node":"Call 'Video->Telegram'","type":"main","index":0}],[{"node":"Save Reaction","type":"main","index":0}]]},"Call 'GPT->DB'":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"Topics Themes","type":"main","index":0}]]},"Topics":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Call 'Publich /topic#'":{"main":[[]]},"Save Reaction":{"main":[[{"node":"Update Count","type":"main","index":0}]]},"Code Router":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Update Count":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Send a text message1":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4c8342e-bed5-4212-a5c1-9acfb001e7d7","activeVersionId":"b4c8342e-bed5-4212-a5c1-9acfb001e7d7","versionCounter":634,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-03T00:29:09.125Z","createdAt":"2026-06-03T00:29:09.125Z","role":"workflow:owner","workflowId":"vNe-M6FNNeaEPJEAgURhb","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}