workflows/workflows
[{"updatedAt":"2026-06-04T18:57:14.143Z","createdAt":"2026-06-03T12:23:37.585Z","id":"L2YOyLMuIphPqdq_3qE1B","name":"Schedule Generate","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"71595bf5-f4a9-4bc1-ab14-2aded52496ff","name":"Schedule Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"paMq7Rolh0IjH8fPl-0Ax","mode":"list","cachedResultUrl":"/workflow/paMq7Rolh0IjH8fPl-0Ax","cachedResultName":"GPT->DB"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[208,0],"id":"45101f64-8b76-4151-9872-baf6f116f9b2","name":"Call 'GPT->DB'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Call 'GPT->DB'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ec3cc4fd-1c67-42c4-b0f8-d9f4a99a9a19","activeVersionId":"ec3cc4fd-1c67-42c4-b0f8-d9f4a99a9a19","versionCounter":71,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-03T12:23:37.585Z","createdAt":"2026-06-03T12:23:37.585Z","role":"workflow:owner","workflowId":"L2YOyLMuIphPqdq_3qE1B","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-03T14:05:16.325Z","createdAt":"2026-06-02T23:55:35.682Z","id":"AnAtugCOkeDEUzChTEQqe","name":"Approval","description":null,"active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"036433a7-cbd2-47b1-ab32-db89f08915f9","activeVersionId":null,"versionCounter":115,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-02T23:55:35.682Z","createdAt":"2026-06-02T23:55:35.682Z","role":"workflow:owner","workflowId":"AnAtugCOkeDEUzChTEQqe","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T13:11:53.126Z","createdAt":"2026-06-07T12:47:14.867Z","id":"H0vJVMzaernJJm8dGq-h3","name":"Video Reactions","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[208,0],"id":"bce5ddb1-b578-45eb-b7bd-dfd5059a5da6","name":"Telegram Trigger","webhookId":"0159c765-d04c-4dee-bb46-ba3f8424aa4f","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-432,-16],"id":"c3d43e81-7720-49ef-83ea-b3c73afa2166","name":"When Executed by Another Workflow"}],"connections":{"Telegram Trigger":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"200b100e-2100-4cc4-a41d-e5d49b62be6d","activeVersionId":null,"versionCounter":23,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-07T12:47:14.867Z","createdAt":"2026-06-07T12:47:14.867Z","role":"workflow:owner","workflowId":"H0vJVMzaernJJm8dGq-h3","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T10:15:26.851Z","createdAt":"2026-06-03T22:31:02.297Z","id":"i2zSvgz50XgPBoyOh2HeI","name":"Products+Topics=>","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"Ты эксперт по продуктам Herbalife.\n\nТвоя задача определить какие темы подходят каждому продукту.\n\nЯ передам:\n\n1. Список продуктов\n2. Список тем\n\nДля каждого продукта выбери от 0 до 10 наиболее подходящих тем.\n\nИспользуй:\n- название продукта\n- категорию\n- описание продукта\n\nНе придумывай новые темы.\n\nВерни ТОЛЬКО JSON.\n\nФормат:\n\n[\n  {\n    \"product_id\": 1,\n    \"topic_ids\": [2,5,8]\n  },\n  {\n    \"product_id\": 2,\n    \"topic_ids\": [1,4]\n  }\n]\n\nНикакого текста.\nНикаких пояснений.\nТолько валидный JSON."},{"content":"=Продукты:\n\n{{ JSON.stringify($json.data.products) }}\n\nТемы:\n\n{{ JSON.stringify($json.data.topics) }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[496,0],"id":"53b189f9-8418-428c-8eb8-90d0965d4b70","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const raw = $json.output[0].content[0].text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst links = JSON.parse(raw);\n\nconst result = [];\n\nfor (const item of links) {\n  for (const topicId of item.topic_ids) {\n    result.push({\n      json: {\n        product_id: item.product_id,\n        topic_id: topicId\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"id":"9f0b4b6d-43e0-4082-b10a-e9bdd41af667","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT json_build_object(\n    'products',\n    (\n        SELECT json_agg(\n            json_build_object(\n                'id', id,\n                'name', name,\n                'category', category,\n                'description', description\n            )\n        )\n        FROM products\n    ),\n    'topics',\n    (\n        SELECT json_agg(\n            json_build_object(\n                'id', id,\n                'title', title,\n                'description', description\n            )\n        )\n        FROM topics\n        WHERE status = 'active'\n    )\n) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"a6ce5edc-d794-4648-8677-1e5cb3b20af6","name":"Select Products And Topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"37e8d46e-e6c4-4244-9026-0f2b829cb9ce","name":"Schedule Trigger"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"product_topics","mode":"list","cachedResultName":"product_topics"},"columns":{"mappingMode":"defineBelow","value":{"topic_id":"={{$json.topic_id}}","product_id":"={{$json.product_id}}"},"matchingColumns":["product_id","topic_id"],"schema":[{"id":"product_id","displayName":"product_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"topic_id","displayName":"topic_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,0],"id":"00014117-3ade-4a84-8a25-88fb2b4e1dd5","name":"INSERT products TO product_topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"INSERT products TO product_topics","type":"main","index":0}]]},"Select Products And Topics":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Select Products And Topics","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cefcfd88-6d61-4568-b695-c843cb692f62","activeVersionId":"d38094a5-3fa1-4892-81c8-43c056428123","versionCounter":73,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-03T22:31:02.297Z","createdAt":"2026-06-03T22:31:02.297Z","role":"workflow:owner","workflowId":"i2zSvgz50XgPBoyOh2HeI","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-04T11:52:39.829Z","createdAt":"2026-06-03T17:24:44.192Z","id":"bT6Z_MCLRXPitov0HSMRL","name":"Approval","description":null,"active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2d9a5840-19b4-47e9-94ba-32fa8ca17702","activeVersionId":null,"versionCounter":25,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-03T17:24:44.192Z","createdAt":"2026-06-03T17:24:44.192Z","role":"workflow:owner","workflowId":"bT6Z_MCLRXPitov0HSMRL","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T09:42:45.245Z","createdAt":"2026-06-02T20:18:06.243Z","id":"paMq7Rolh0IjH8fPl-0Ax","name":"GPT->DB","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ти професійний SMM-копірайтер бренду Healthy Support.\n\nМова: українська.\n\nСтворюй корисні Telegram-пости про:\n\n* здоровий спосіб життя;\n* збалансоване харчування;\n* контроль ваги;\n* енергію та продуктивність;\n* якість життя;\n* корисні звички;\n* активний спосіб життя.\n\nЦільова аудиторія:\n\n* підприємці;\n* керівники;\n* висококваліфіковані спеціалісти;\n* спортсмени;\n* молоді батьки;\n* зайняті люди;\n* люди, які цінують здоров'я та власний час.\n\nСтиль:\n\n* дружній;\n* експертний;\n* мотивуючий;\n* практичний;\n* сучасний.\n\nОсновні принципи:\n\n* не використовуй медичні обіцянки;\n* не використовуй лікувальні твердження;\n* не гарантуй результатів;\n* не став діагнози;\n* не використовуй фрази:\n\n  * \"вилікує\";\n  * \"гарантовано допоможе\";\n  * \"позбавить хвороби\";\n  * \"зцілить\".\n\nДопускається говорити про:\n\n* підтримку здорових звичок;\n* контроль калорійності;\n* достатню кількість білка;\n* збалансоване харчування;\n* підтримку енергії протягом дня;\n* економію часу на приготуванні їжі;\n* покращення харчових звичок;\n* активний спосіб життя;\n* продуктивність;\n* самопочуття;\n* розвиток власного бізнесу та додаткового доходу.\n\nПри створенні контенту враховуй типові проблеми аудиторії:\n\n* нестача часу;\n* нерегулярне харчування;\n* пропуск прийомів їжі;\n* перекуси на ходу;\n* низький рівень енергії наприкінці дня;\n* складність контролю калорій;\n* недостатнє споживання білка;\n* бажання покращити самопочуття та зовнішній вигляд.\n\nФокусуйся не на продукті, а на результаті для людини.\n\nСпочатку описуй проблему або потребу.\n\nПотім показуй рішення.\n\nЛише після цього згадуй продукти.\n\nОсновою рекомендацій мають бути здорові харчові звички та звичайні продукти харчування.\n\nПідбирай натуральні продукти відповідно до теми.\n\nПриклади:\n\n* яйця;\n* риба;\n* морепродукти;\n* курятина;\n* індичка;\n* творог;\n* грецький йогурт;\n* бобові;\n* овочі;\n* зелень;\n* ягоди;\n* цитрусові;\n* горіхи;\n* насіння;\n* чиста вода.\n\nПродукти Herbalife використовуй як додатковий інструмент для:\n\n* отримання білка;\n* контролю калорійності;\n* економії часу;\n* підтримки здорових харчових звичок;\n* зручності для зайнятих людей.\n\nЯкщо продукт Herbalife згадується:\n\n* поясни його роль;\n* підбери натуральні альтернативи із супермаркету;\n* враховуй калорійність та білок якщо дані доступні;\n* порівняй за зручністю використання.\n\nОцінка якості продуктів:\n\nНадавай перевагу продуктам з:\n\n* високою поживною цінністю;\n* достатньою кількістю білка;\n* клітковиною;\n* вітамінами;\n* мінералами;\n* помірною калорійністю;\n* мінімальною обробкою.\n\nОбмежено рекомендуй продукти з:\n\n* великою кількістю доданого цукру;\n* великою кількістю рафінованих вуглеводів;\n* низькою поживною цінністю;\n* надлишковою калорійністю.\n\nЯкщо згадуються солодкі газовані напої, десерти або ультраоброблені продукти, пояснюй що:\n\n* вони можуть давати короткочасний приплив енергії;\n* після різкого підйому цукру може виникати спад енергії;\n* регулярне надмірне споживання цукру може ускладнювати контроль апетиту;\n* надлишок цукру та нестача клітковини можуть негативно впливати на баланс мікробіоти кишківника;\n* здоров'я кишківника пов'язують зі станом шкіри, загальним самопочуттям та обміном речовин.\n\nНе стверджуй прямий причинно-наслідковий зв'язок між окремим продуктом та хворобою.\n\nВикористовуй формулювання:\n\n* \"може сприяти\";\n* \"може впливати\";\n* \"пов'язують з\";\n* \"дослідження показують зв'язок\".\n\nСтруктура поста:\n\n1. Яскравий заголовок.\n2. Короткий вступ.\n3. Основна користь.\n4. Практична порада.\n5. Заклик до дії.\n\nДовжина:\n\n800-1200 символів.\n\nДодай 3-5 релевантних хештегів.\n\nПеред написанням поста виконай внутрішньо:\n\n1. Визнач тему.\n2. Відбери релевантні продукти.\n3. Відкинь нерелевантні продукти.\n4. Підбери натуральні альтернативи.\n5. Склади тези.\n6. Напиши пост.\n7. Заповни JSON.\n\nПовертай тільки JSON.\n\nФормат:\n\n{\n\"title\": \"\",\n\"post_text\": \"\",\n\"topic\": \"\",\n\"products_used\": [],\n\"supermarket_alternatives\": [],\n\"hashtags\": [],\n\"score\": 0,\n\"approved\": false,\n\"issues\": [],\n\"suggestion\": \"\"\n}\n\nОцінка:\n\nscore від 1 до 10\n\n10 = відмінний пост\n8-9 = хороший пост\n6-7 = потребує покращення\n1-5 = потребує суттєвого доопрацювання\n\napproved=true лише якщо score >= 8.\n\nПеред поверненням відповіді перевір:\n\n* JSON валідний;\n* усі поля заповнені;\n* products_used є масивом;\n* supermarket_alternatives є масивом;\n* hashtags є масивом;\n* score є числом;\n* approved є булевим значенням.\n\nНе додавай текст поза JSON.\n"},{"role":"=user","content":"=Тема:\n\n{{ $('Select of Topic').item.json.title }}\n\nОпис теми:\n\n{{ $('Select of Topic').item.json.description }}\n\nПродукти Herbalife:\n\n{{\n` ${$json.herbalife_product.name}\n${$json.herbalife_product.category}\n ${$json.herbalife_product.description}`\n}}\n\nДоступні продукти:\n\n{{\n$json.food_products\n.map(p =>\n`Продукт: ${p.name}\nКатегорія: ${p.category}\nОпис: ${JSON.stringify(p.nutrition)}`\n)\n.join('\\n\\n')\n}}\n\nІнструкції:\n\n1. Визнач продукти, які дійсно релевантні темі.\n2. Не використовуй нерелевантні продукти.\n3. Якщо згадується Herbalife — запропонуй альтернативи зі звичайних продуктів.\n4. Якщо жоден продукт не підходить — не згадуй його.\n5. Основний акцент роби на користі для здорових харчових звичок та способу життя.\n6. Для зайнятих людей підкреслюй економію часу.\n7. Для підприємців та професіоналів підкреслюй продуктивність та якість життя.\n8. Створи Telegram-пост.\n9. Поверни лише JSON.\n"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","verbosity":"=medium","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"post_text\": {\n      \"type\": \"string\"\n    },\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"products_used\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"hashtags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"score\": {\n      \"type\": \"integer\",\n      \"default\":0\n    },\n    \"approved\": {\n      \"type\": \"boolean\",\n      \"default\":false\n    },\n    \"issues\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"default\":[]\n    },\n    \"suggestion\": {\n      \"type\": \"string\",\n      \"default\":\"\"\n    }\n  },\n  \"required\": [\n    \"title\",\n    \"post_text\",\n    \"topic\",\n    \"products_used\",\n    \"hashtags\",\n    \"score\",\n    \"approved\",\n    \"issues\",\n    \"suggestion\"\n  ],\n  \"additionalProperties\": false\n}"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[928,0],"id":"83fa8481-0c60-46a2-b1e9-53951a2621f9","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, description\nFROM topics\nWHERE status = 'active'\nORDER BY RANDOM()\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,0],"id":"1a151d5f-de13-4198-a7ae-39d381371927","name":"Select of Topic","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,0],"id":"e720e1d8-ce3d-4f9b-b836-897d2e23f630","name":"When Executed by Another Workflow"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"posts","mode":"list","cachedResultName":"posts"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{$('Select of Topic').item.json.title}}","topic":"={{$('Select of Topic').item.json.title}}","prompt":"={{$('Select of Topic').item.json.description}}","post_text":"={{$json.output[0].content[0].text.post_text}}","score":"={{ $json.output[0].content[0].text.score }}","status":"={{ $json.output[0].content[0].text.approved?'approved':'darft' }}","approved_at":"={{ new Date().toDateTime()}}","published_at":"={{ new Date().toDateTime()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_text","displayName":"post_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_materials","displayName":"source_materials","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"news_context","displayName":"news_context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gpt_response","displayName":"gpt_response","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"approved_at","displayName":"approved_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"published_at","displayName":"published_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-144],"id":"17d7c295-4776-4ea3-ad41-b5a6088183bc","name":"Insert to Posts","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE topics\nSET used_at = now()\nWHERE id = {{ $('Select of Topic').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1904,-144],"id":"eaa53794-2de9-44be-9451-8c9ab583ec14","name":"Update topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"WITH selected_topic AS (\n    SELECT {{ $('Select of Topic').item.json.id }}::integer AS topic_id\n),\n\nlinked_products AS (\n    SELECT p.*\n    FROM products p\n    JOIN product_topics pt ON pt.product_id = p.id\n    JOIN selected_topic st ON st.topic_id = pt.topic_id\n    ORDER BY RANDOM()\n    LIMIT 3\n),\n\nfallback_products AS (\n    SELECT p.*\n    FROM products p\n    ORDER BY RANDOM()\n    LIMIT 3\n),\n\nselected_products AS (\n    SELECT *\n    FROM linked_products\n\n    UNION ALL\n\n    SELECT *\n    FROM fallback_products\n    WHERE NOT EXISTS (SELECT 1 FROM linked_products)\n\n    LIMIT 3\n),\n\nrandom_food_products AS (\n    SELECT\n        jsonb_build_object(\n            'name', name,\n            'category', category,\n            'nutrition', raw_data\n        ) AS product\n    FROM food_products\n    WHERE is_allowed = TRUE\n    ORDER BY RANDOM()\n    LIMIT 10\n)\n\nSELECT jsonb_build_object(\n    'herbalife_products',\n    (\n        SELECT jsonb_agg(\n            jsonb_build_object(\n                'id', id,\n                'name', name,\n                'category', category,\n                'description', description\n            )\n        )\n        FROM selected_products\n    ),\n    'food_products',\n    (\n        SELECT jsonb_agg(product)\n        FROM random_food_products\n    )\n) AS context;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,0],"id":"714ef7b6-8d31-4a84-ba21-729732022cb1","name":"JOIN product_topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"jsCode":"const herbalife = [...$json.context.herbalife_products];\nconst food = [...$json.context.food_products];\n\n// 1 случайный Herbalife\nconst randomHerbalife =\n  herbalife[Math.floor(Math.random() * herbalife.length)];\n\n// Перемешиваем food\nfood.sort(() => Math.random() - 0.5);\n\n// Берем 5 случайных\nconst randomFood = food.slice(0, 5);\n\nreturn [{\n  json: {\n    herbalife_product: randomHerbalife,\n    food_products: randomFood\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0],"id":"cd1d1d08-a763-474c-9feb-9c42c1933c17","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output[0].content[0].text.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"5b81077c-09b5-4901-a9e9-ba7a83826136"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb0d837a-53a9-4ce1-a728-1cdec86a216d","leftValue":"={{ $json.output[0].content[0].text.approved }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1376,0],"id":"a87478f1-b767-4ba9-bed4-0fc90901da73","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"0ZHhcsrLRipjRr4X2y0Dk","mode":"list","cachedResultUrl":"/workflow/0ZHhcsrLRipjRr4X2y0Dk","cachedResultName":"DB->Telegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2096,-144],"id":"1655ef41-39c9-44c9-a521-bed87abf6696","name":"Call 'DB->Telegram'"}],"connections":{"Message a model":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Select of Topic":{"main":[[{"node":"JOIN product_topics","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select of Topic","type":"main","index":0}]]},"Insert to Posts":{"main":[[{"node":"Update topics","type":"main","index":0}]]},"Update topics":{"main":[[{"node":"Call 'DB->Telegram'","type":"main","index":0}]]},"JOIN product_topics":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Insert to Posts","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e92e74a-822f-4a4b-a2b9-99980b6463ac","activeVersionId":"5e92e74a-822f-4a4b-a2b9-99980b6463ac","versionCounter":919,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-02T20:18:06.243Z","createdAt":"2026-06-02T20:18:06.243Z","role":"workflow:owner","workflowId":"paMq7Rolh0IjH8fPl-0Ax","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-05T08:24:25.159Z","createdAt":"2026-06-05T08:24:09.067Z","id":"0ZHhcsrLRipjRr4X2y0Dk","name":"DB->Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"-1003975411943","text":"={{ $json.title }}\n\n{{ $json.post_text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,0],"id":"f0adf7e1-b016-4725-a1f8-fe0618666e82","name":"Send a text message","webhookId":"c230d68f-aff2-4131-b7df-a82084d8318a","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, post_text, status\nFROM posts\nWHERE status = 'approved'\nORDER BY id DESC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"id":"d7940150-8410-423e-8f49-512079c1495a","name":"Select Approved Post","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"90d53b4e-906b-482d-b8b6-f9cc1bc25add","name":"When Executed by Another Workflow"}],"connections":{"Select Approved Post":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select Approved Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"90bb7a1b-bc44-4fdb-95af-d39a9b63d627","activeVersionId":"90bb7a1b-bc44-4fdb-95af-d39a9b63d627","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-05T08:24:09.067Z","createdAt":"2026-06-05T08:24:09.067Z","role":"workflow:owner","workflowId":"0ZHhcsrLRipjRr4X2y0Dk","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-04T20:48:58.592Z","createdAt":"2026-06-02T20:21:32.589Z","id":"Pj4h2HteFqw0Pn8RRQUKx","name":"DB->Telegram","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"chatId":"-1003975411943","text":"={{ $json.title }}\n\n{{ $json.post_text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,16],"id":"f77a2301-5e90-43cc-8baa-964ad62bc1e7","name":"Send a text message","webhookId":"c230d68f-aff2-4131-b7df-a82084d8318a","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, post_text, status\nFROM posts\nWHERE status = 'approved'\nORDER BY id DESC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,16],"id":"d420cbda-1bc8-4a97-b4eb-47975cfb6877","name":"Select Approved Post","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-352,16],"id":"1b908c62-e867-4a78-a18d-8f7c3a5c0b51","name":"When Executed by Another Workflow"}],"connections":{"Send a text message":{"main":[[]]},"Select Approved Post":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select Approved Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f453652d-5843-4357-a176-a783f0d3a3f2","activeVersionId":null,"versionCounter":123,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-02T20:21:32.589Z","createdAt":"2026-06-02T20:21:32.589Z","role":"workflow:owner","workflowId":"Pj4h2HteFqw0Pn8RRQUKx","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T09:37:39.797Z","createdAt":"2026-06-04T14:30:39.581Z","id":"YAUOArFI6dZbEJL9","name":"PDF Ingredients Cataloge","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"c4f99a75-8d8a-4dcc-9518-02afe21204e0","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/home/node/.n8n-files/Ingridients.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-192,0],"id":"43141571-96d6-482b-bb66-10f75dffd431","name":"Read/Write Files from Disk"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[16,0],"id":"87dd8fdd-e369-4380-ab97-dcecac1d4e14","name":"Extract from File"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst text = input.text || input.data || '';\n\nconst maxLength = 8000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push(text.slice(i, i + maxLength));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunk_id: index + 1,\n    content: chunk,\n    chars: chunk.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"017a18d4-647d-49f6-bf8e-fe07ac395456","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ты анализируешь справочную информацию по продуктам.\nПолезные элементы такие как белки жиры калории\nИзвлеки все найденные продукты.\n\nДля каждого продукта верни:\n\n- name\n- category \n- description:{\nобъект с полезными свойствами по продукту из справочника которые есть о продукте в этом справочнике\n}\n\n\n\n\nВерни ТОЛЬКО JSON массив.\n\nПример:\n\n[\n  {\n    \"name\": \"Брынза\",\n    \"category\": \"молочные продукты\",\n      \"description\": {\n      info:'на 100гр продукта'\n      proteins:'10г',\n      fetts:'20г',\n      calories:'250 kCal'\n      carbogidrates:'45',\n      omega3:'10г',\n      omega6:'0,1г',\n      .......\n      итак далее по составу подставляй в описание пункт елси нужно переводи его на английский\n      пункт:'значение'\n    },\n  }\n]\n\nЕсли данных нет — null.\nНикакого текста кроме JSON."},{"content":"={{$json.content}}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[480,0],"id":"3f407f01-d51d-44ff-bbbc-fc18487abefd","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json.output?.[0]?.content?.[0]?.text || '';\n\n  const cleaned = raw\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!cleaned || cleaned === 'null') {\n    continue;\n  }\n\n  let products;\n\n  try {\n    products = JSON.parse(cleaned);\n  } catch (e) {\n    continue;\n  }\n\n  if (!Array.isArray(products)) {\n    continue;\n  }\n\n  for (const product of products) {\n    results.push({\n      json: {\n        name: product.name || null,\n        category: product.category || null,\n        description: product.description || null,\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"06b5c1ac-82df-4dee-9b61-cb9e1b9cfebb","name":"Code in JavaScript2"},{"parameters":{"jsCode":"function getNested(obj, path) {\n  return path.split('.').reduce((acc, key) => acc?.[key], obj);\n}\n\nfunction toNumber(value) {\n  if (value === null || value === undefined || value === '') return null;\n\n  const cleaned = String(value)\n    .replace(',', '.')\n    .replace(/[^\\d.-]/g, '');\n\n  if (!cleaned) return null;\n\n  const num = Number(cleaned);\n  return Number.isFinite(num) ? num : null;\n}\n\nreturn $input.all().map(item => {\n  const data = item.json;\n  const desc = data.description || {};\n\n  return {\n    json: {\n      name: data.name || null,\n      category: data.category || null,\n\n      calories: toNumber(desc.calories),\n      proteins: toNumber(desc.proteins),\n      fats: toNumber(desc.fats),\n      carbohydrates: toNumber(desc.carbohydrates),\n\n      calories_raw: desc.calories || null,\n      proteins_raw: desc.proteins || null,\n      fats_raw: desc.fats || null,\n      carbohydrates_raw: desc.carbohydrates || null,\n\n      raw_data: data\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,0],"id":"5966441e-bb61-4e8f-b58f-d15bacdf19a9","name":"Code in JavaScript1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"food_products","mode":"list","cachedResultName":"food_products"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{$json.name}}","category":"={{$json.category}}","calories":"={{$json.calories}}","proteins":"={{$json.proteins}}","fats":"={{$json.fats}}","carbohydrates":"={{$json.carbohydrates}}","raw_data":"={{JSON.stringify($json.raw_data)}}","calories_raw":"={{$json.calories_raw}}","proteins_raw":"={{$json.proteins_raw}}","fats_raw":"={{$json.fats_raw}}","carbohydrates_raw":"={{$json.carbohydrates_raw}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"calories","displayName":"calories","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"proteins","displayName":"proteins","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fats","displayName":"fats","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"carbohydrates","displayName":"carbohydrates","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"simple_sugars","displayName":"simple_sugars","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"raw_data","displayName":"raw_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"calories_raw","displayName":"calories_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"proteins_raw","displayName":"proteins_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fats_raw","displayName":"fats_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"carbohydrates_raw","displayName":"carbohydrates_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,0],"id":"6e5e06ff-6c60-4af8-a0ba-fd38e46e0fb4","name":"Insert TO food_products","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Insert TO food_products","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8ea3f462-de85-4864-8bb8-eecba65d23ee","activeVersionId":null,"versionCounter":167,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T14:30:39.581Z","createdAt":"2026-06-04T14:30:39.581Z","role":"workflow:owner","workflowId":"YAUOArFI6dZbEJL9","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T20:33:37.420Z","createdAt":"2026-06-07T09:14:35.425Z","id":"OIX5VTf1FFP3Kgilt0hrb","name":"Video->Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO videos (\n    telegram_file_id,\n    caption,\n    source_chat_id,\n    source_message_id\n)\nVALUES (\n '{{ $(\"When Executed by Another Workflow\").item.json.telegram_file_id }}',\n    '{{ $(\"When Executed by Another Workflow\").item.json.caption }}',\n    {{ $(\"When Executed by Another Workflow\").item.json.source_chat_id }},\n    {{ $(\"When Executed by Another Workflow\").item.json.source_message_id }}\n)\nRETURNING id, telegram_file_id, caption;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,-80],"id":"c58682d7-85c4-4a9e-850e-d683a79a8cbc","name":"Insert Video","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"WITH existing AS (\n    SELECT id, title\n    FROM topics\n    WHERE LOWER(TRIM(title)) = LOWER(TRIM('{{ $json.title }}'))\n    LIMIT 1\n),\ninserted AS (\n    INSERT INTO topics (\n        title,\n        description,\n        language,\n        status,\n        priority\n    )\n    SELECT\n        '{{ $json.title }}',\n        NULL,\n        'uk',\n        'active',\n        {{ $json.priority }}\n    WHERE NOT EXISTS (SELECT 1 FROM existing)\n    RETURNING id, title\n)\nSELECT id, title\nFROM inserted\n\nUNION ALL\n\nSELECT id, title\nFROM existing\n\nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-80],"id":"ff36e344-4929-4061-8dca-e28652031fbf","name":"Upsert Topic","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO video_topics (\n    video_id,\n    topic_id\n)\nVALUES (\n    {{ $('Insert Video').item.json.id }},\n    {{ $('Upsert Topic').item.json.id }}\n)\nON CONFLICT DO NOTHING\nRETURNING video_id, topic_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,-80],"id":"bd9ab410-76a8-4c91-be90-048a893f9df1","name":"video_id TO topic_id","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos\nSET\n    channel_chat_id = {{ $('Send Video').item.json.result.chat.id }},\n    channel_message_id = {{ $('Send Video').item.json.result.message_id }},\n    published_at = now()\nWHERE id = {{ $('Insert Video').item.json.id }}\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,-80],"id":"be01eb1b-21d0-45dd-86ed-2f6a10c5e38e","name":"UPDATE videos","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[128,-80],"id":"d1f21560-efb5-4c9b-928b-93fea6edb483","name":"When Executed by Another Workflow"},{"parameters":{"operation":"sendVideo","chatId":"-1003975411943","file":"={{$('When Executed by Another Workflow').item.json.telegram_file_id}}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"👍 0","additionalFields":{"callback_data":"=like_video_{{$('Insert Video').item.json.id}}"}},{"text":"👎 0","additionalFields":{"callback_data":"=dislike_video_{{$('Insert Video').item.json.id}}"}}]}}]},"additionalFields":{"caption":"={{ $(\"When Executed by Another Workflow\").item.json.caption }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1088,-80],"id":"95723c94-70cf-4f39-8b35-f7ae16d42358","name":"Send Video","webhookId":"211d0587-6f0c-4e74-9ccc-1877c3bc22e3","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}}],"connections":{"Insert Video":{"main":[[{"node":"video_id TO topic_id","type":"main","index":0}]]},"Upsert Topic":{"main":[[{"node":"Insert Video","type":"main","index":0}]]},"video_id TO topic_id":{"main":[[{"node":"Send Video","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Upsert Topic","type":"main","index":0}]]},"Send Video":{"main":[[{"node":"UPDATE videos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c4b2cccf-84e4-479f-9ba5-02ac8592adc6","activeVersionId":"c4b2cccf-84e4-479f-9ba5-02ac8592adc6","versionCounter":188,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-07T09:14:35.425Z","createdAt":"2026-06-07T09:14:35.425Z","role":"workflow:owner","workflowId":"OIX5VTf1FFP3Kgilt0hrb","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T20:03:00.120Z","createdAt":"2026-06-03T00:29:09.125Z","id":"vNe-M6FNNeaEPJEAgURhb","name":"Approval Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["callback_query","message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-32,16],"id":"c0d83c45-e699-4cb7-97d4-d3947dc2014a","name":"Telegram Trigger","webhookId":"9b120224-d19f-4b65-9b5c-9ca9b085794c","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO topics (\n    title,\n    language,\n    priority,\n    status\n)\nVALUES (\n    '{{ $json.topic }}',\n    'uk',\n    {{ $json.priority }},\n    'active'\n)\nRETURNING id, title;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,-208],"id":"0d98b05f-237a-486d-a030-6da825483cd9","name":"Insert Topic","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"24deb096-b653-4bff-a829-c210e22994b6","leftValue":"={{$json.command}}","rightValue":"commands","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cc241386-1041-4ad8-b1cb-960debe27225","leftValue":"={{$json.command}}","rightValue":"generate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{$json.command}}","rightValue":"addtopic","operator":{"type":"string","operation":"equals"},"id":"4b84dbf3-645f-467d-a125-bd923e7c0fa3"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8d33eb86-b256-4ba4-a768-33aa735556ce","leftValue":"={{$json.command}}","rightValue":"topics","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"70e58113-984e-4ce5-b9ba-2ac4997b2171","leftValue":"={{$json.command}}","rightValue":"topic","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e7192d27-1a8d-4ae0-a3fb-0153f0f2085b","leftValue":"={{$json.command}}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7f8e7ebe-5ff2-48b8-af8c-912547c2130a","leftValue":"={{$json.command}}","rightValue":"video_reaction","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[400,-16],"id":"0848147d-9389-48fb-bd64-e08aa52d6a52","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"paMq7Rolh0IjH8fPl-0Ax","mode":"list","cachedResultUrl":"/workflow/paMq7Rolh0IjH8fPl-0Ax","cachedResultName":"GPT->DB"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":"={{ true }}"}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[688,-416],"id":"facc41c0-a8c4-4a23-84c3-8b06c9650e9b","name":"Call 'GPT->DB'"},{"parameters":{"chatId":"=-1003984531998","text":"={{ \"✅ Тему додано: \" + $json.title }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,-208],"id":"4fb4c418-2967-422c-be73-047f721b66d2","name":"Success massage topics","webhookId":"47ed7859-ddd5-483a-8488-813e06fa3ad9","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      text: '📭 Активных тем пока нет.'\n    }\n  }];\n}\n\nconst lines = items.map((item, index) => {\n  const t = item.json;\n  return `${index + 1}. #${t.id} — ${t.title} | priority: ${t.priority}`;\n});\n\nreturn [{\n  json: {\n    text: '📋 Активные темы:\\n\\n' + lines.join('\\n')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-16],"id":"ad5db39d-77b8-42a3-96d8-86f6f0d29e24","name":"Code in JavaScript1"},{"parameters":{"chatId":"=-1003984531998","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,-16],"id":"0eededb8-2e50-4e41-8fe0-91a21500adef","name":"Topics Themes","webhookId":"47ed7859-ddd5-483a-8488-813e06fa3ad9","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, status, priority, used_at\nFROM topics\nWHERE status = 'active'\nORDER BY RANDOM()\nLIMIT 3;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,-16],"id":"337bf9cd-bea1-4a61-9d74-a048d1c5df41","name":"Topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"NCCa62k8C003IJxs","mode":"list","cachedResultUrl":"/workflow/NCCa62k8C003IJxs","cachedResultName":"Publich /topic#"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[688,208],"id":"7bfb31d1-1fed-49ba-a779-7caba6b3f486","name":"Call 'Publich /topic#'"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO video_reactions (\n    video_id,\n    telegram_user_id,\n    reaction\n)\nVALUES (\n    {{ $json.video_id }},\n    {{ $json.telegram_user_id }},\n    '{{ $json.reaction }}'\n)\nON CONFLICT (video_id, telegram_user_id)\nDO UPDATE SET\n    reaction = EXCLUDED.reaction,\n    updated_at = now()\nRETURNING video_id, telegram_user_id, reaction;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,624],"id":"0069be61-6fac-49e1-9728-485828258b84","name":"Save Reaction","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n    v.id AS video_id,\n    v.channel_chat_id,\n    v.channel_message_id,\n    COUNT(*) FILTER (WHERE vr.reaction = 'like') AS likes,\n    COUNT(*) FILTER (WHERE vr.reaction = 'dislike') AS dislikes\nFROM videos v\nLEFT JOIN video_reactions vr\n    ON vr.video_id = v.id\nWHERE v.id = {{ $('Code Router').item.json.video_id }}\nGROUP BY v.id, v.channel_chat_id, v.channel_message_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,624],"id":"d03036b0-3509-4c34-a764-4ef3c3d778e1","name":"Update Count","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"jsCode":"const callbackData = $json.callback_query?.data;\nconst callbackUserId = $json.callback_query?.from?.id;\n\nif (callbackData?.startsWith('like_video_')) {\n  return [{\n    json: {\n      command: 'video_reaction',\n      video_id: Number(callbackData.replace('like_video_', '')),\n      reaction: 'like',\n      telegram_user_id: callbackUserId\n    }\n  }];\n}\n\nif (callbackData?.startsWith('dislike_video_')) {\n  return [{\n    json: {\n      command: 'video_reaction',\n      video_id: Number(callbackData.replace('dislike_video_', '')),\n      reaction: 'dislike',\n      telegram_user_id: callbackUserId\n    }\n  }];\n}\n\nconst msg = $json.message || {};\nconst messageText = (msg.text || msg.caption || '').trim();\nconst chatId = msg.chat?.id;\n\n//video 10(тут треба писати номер топіка) | Тут іде назвап топіка\nif (messageText.startsWith('/video') && msg.video) {\n  const commandPart = messageText.replace('/video', '').trim();\n  const [priorityPart, ...titleParts] = commandPart.split('|');\n\n  const priority = Number((priorityPart || '').trim());\n  const title = titleParts.join('|').trim();\n\n  if (!title) {\n    throw new Error('Video title is missing. Use: /video 10 | Назва теми');\n  }\n\n  return [{\n    json: {\n      command: 'video',\n      priority: Number.isFinite(priority) ? priority : 5,\n      title,\n      caption: title,\n      telegram_file_id: msg.video.file_id,\n      source_chat_id: msg.chat.id,\n      source_message_id: msg.message_id,\n      chat_id: msg.chat.id\n    }\n  }];\n}\n\n// commands\nif (messageText === '/commands' || messageText === '/comands') {\n  return [{\n    json: {\n      command: 'commands',\n      chat_id: chatId\n    }\n  }];\n}\n\n// addtopic\nif (messageText.startsWith('/addtopic')) {\n  const parts = messageText.split(' ').slice(1);\n  const last = Number(parts[parts.length - 1]);\n\n  let priority = 5;\n  let topic = parts.join(' ');\n\n  if (!isNaN(last)) {\n    priority = last;\n    topic = parts.slice(0, -1).join(' ');\n  }\n\n  return [{\n    json: {\n      command: 'addtopic',\n      topic,\n      priority,\n      chat_id: chatId\n    }\n  }];\n}\n\n// /topic 15\nif (messageText.startsWith('/topic ')) {\n  const parts = messageText.split(' ').slice(1);\n  const last = Number(parts[parts.length - 1]);\n\n  return [{\n    json: {\n      command: 'topic',\n      topic_id: !isNaN(last) ? last : null,\n      chat_id: chatId\n    }\n  }];\n}\n\n// empty / not command\nif (!messageText || !messageText.startsWith('/')) {\n  return [];\n}\n\n// default command\nconst [commandRaw, ...args] = messageText.split(' ');\nconst command = commandRaw.replace('/', '');\n\nreturn [{\n  json: {\n    command,\n    args,\n    text: args.join(' ').trim(),\n    chat_id: chatId\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,16],"id":"1e7d2ec3-1808-4876-aac3-c070ed53a377","name":"Code Router"},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_TOKEN + '/editMessageReplyMarkup' }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"{{$env.TELEGRAM_CHANNEL_ID}}\",\n  \"message_id\": {{$json.channel_message_id}},\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\n          \"text\": \"👍 {{$json.likes}}\",\n          \"callback_data\": \"like_video_{{ $json.video_id }}\"\n        },\n        {\n          \"text\": \"👎 {{$json.dislikes}}\",\n          \"callback_data\": \"dislike_video_{{ $json.video_id}}\"\n        }\n      ]\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,624],"id":"5a2e7c74-bdfa-4226-89a9-ab010531b1cc","name":"HTTP Request"},{"parameters":{"chatId":"={{ $env.TELEGRAM_ADMIN_CHAT_ID }}","text":"ТУТУ будут команды управления каналом ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,-608],"id":"d5c352d0-7e9a-49f7-b154-71597a608a34","name":"Send a text message1","webhookId":"5895d9e4-81ef-4b24-a9b5-f4ffdfc812bd","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"OIX5VTf1FFP3Kgilt0hrb","mode":"list","cachedResultUrl":"/workflow/OIX5VTf1FFP3Kgilt0hrb","cachedResultName":"Video->Telegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[688,432],"id":"ab4ee55c-1711-456d-8806-fb75d1c10628","name":"Call 'Video->Telegram'"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Code Router","type":"main","index":0}]]},"Insert Topic":{"main":[[{"node":"Success massage topics","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Call 'GPT->DB'","type":"main","index":0}],[{"node":"Insert Topic","type":"main","index":0}],[{"node":"Topics","type":"main","index":0}],[{"node":"Call 'Publich /topic#'","type":"main","index":0}],[{"node":"Call 'Video->Telegram'","type":"main","index":0}],[{"node":"Save Reaction","type":"main","index":0}]]},"Call 'GPT->DB'":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"Topics Themes","type":"main","index":0}]]},"Topics":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Call 'Publich /topic#'":{"main":[[]]},"Save Reaction":{"main":[[{"node":"Update Count","type":"main","index":0}]]},"Code Router":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Update Count":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Send a text message1":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4c8342e-bed5-4212-a5c1-9acfb001e7d7","activeVersionId":"b4c8342e-bed5-4212-a5c1-9acfb001e7d7","versionCounter":632,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-03T00:29:09.125Z","createdAt":"2026-06-03T00:29:09.125Z","role":"workflow:owner","workflowId":"vNe-M6FNNeaEPJEAgURhb","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T09:38:59.722Z","createdAt":"2026-06-04T14:31:24.022Z","id":"S0RXyoVw88jve2em","name":"PDF Recepts with Products","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"bbaebe1a-488c-4fd7-b646-43c4aed56c2e","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/home/node/.n8n-files/HL_catalog_2026.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-192,0],"id":"e92e0338-effb-4000-bd9f-a74111984190","name":"Read/Write Files from Disk"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[16,0],"id":"58962970-fda5-4a44-a7f0-e1b3b19266f0","name":"Extract from File"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst text = input.text || input.data || '';\n\nconst maxLength = 8000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push(text.slice(i, i + maxLength));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunk_id: index + 1,\n    content: chunk,\n    chars: chunk.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"2a3be08b-2ce9-41b0-a7a6-a5e9e18384b1","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ты анализируешь каталог Herbalife.\n\nИзвлеки все найденные продукты.\n\nДля каждого продукта верни:\n\n- name\n- category\n- description\n\n\nВерни ТОЛЬКО JSON массив.\n\nПример:\n\n[\n  {\n    \"name\": \"Формула 1\",\n    \"category\": \"Коктейль\",\n    \"description\": \"Белковый коктейль\",\n  }\n]\n\nЕсли данных нет — null.\nНикакого текста кроме JSON."},{"content":"={{$json.content}}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[480,0],"id":"547aa84d-1741-4bd6-b740-2d261cd07425","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json.output?.[0]?.content?.[0]?.text || '';\n\n  const cleaned = raw\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!cleaned || cleaned === 'null') {\n    continue;\n  }\n\n  let products;\n\n  try {\n    products = JSON.parse(cleaned);\n  } catch (e) {\n    continue;\n  }\n\n  if (!Array.isArray(products)) {\n    continue;\n  }\n\n  for (const product of products) {\n    results.push({\n      json: {\n        name: product.name || null,\n        category: product.category || null,\n        description: product.description || null,\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"dbf885bd-52b1-4c68-8d7d-89ae7c0a272b","name":"Code in JavaScript2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","category":"={{ $json.category }}","description":"={{ $json.description }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"benefits","displayName":"benefits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingredients","displayName":"ingredients","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"usage_method","displayName":"usage_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"calories","displayName":"calories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"protein","displayName":"protein","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fiber","displayName":"fiber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vitamins","displayName":"vitamins","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source_file","displayName":"source_file","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"page_number","displayName":"page_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,0],"id":"73fae330-b507-4098-9b7c-64ba19d7f3e4","name":"Insert TO products","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Insert TO products","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b2d646d-16c1-4460-8773-e835669d5772","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T14:31:24.022Z","createdAt":"2026-06-04T14:31:24.022Z","role":"workflow:owner","workflowId":"S0RXyoVw88jve2em","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-07T08:48:54.963Z","createdAt":"2026-06-04T20:52:20.804Z","id":"NCCa62k8C003IJxs","name":"Publich /topic#","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ти професійний SMM-копірайтер бренду Healthy Support.\n\nМова: українська.\n\nСтворюй корисні Telegram-пости про:\n\n* здоровий спосіб життя;\n* збалансоване харчування;\n* контроль ваги;\n* енергію та продуктивність;\n* якість життя;\n* корисні звички;\n* активний спосіб життя.\n\nЦільова аудиторія:\n\n* підприємці;\n* керівники;\n* висококваліфіковані спеціалісти;\n* спортсмени;\n* молоді батьки;\n* зайняті люди;\n* люди, які цінують здоров'я та власний час.\n\nСтиль:\n\n* дружній;\n* експертний;\n* мотивуючий;\n* практичний;\n* сучасний.\n\nОсновні принципи:\n\n* не використовуй медичні обіцянки;\n* не використовуй лікувальні твердження;\n* не гарантуй результатів;\n* не став діагнози;\n* не використовуй фрази:\n\n  * \"вилікує\";\n  * \"гарантовано допоможе\";\n  * \"позбавить хвороби\";\n  * \"зцілить\".\n\nДопускається говорити про:\n\n* підтримку здорових звичок;\n* контроль калорійності;\n* достатню кількість білка;\n* збалансоване харчування;\n* підтримку енергії протягом дня;\n* економію часу на приготуванні їжі;\n* покращення харчових звичок;\n* активний спосіб життя;\n* продуктивність;\n* самопочуття;\n* розвиток власного бізнесу та додаткового доходу.\n\nПри створенні контенту враховуй типові проблеми аудиторії:\n\n* нестача часу;\n* нерегулярне харчування;\n* пропуск прийомів їжі;\n* перекуси на ходу;\n* низький рівень енергії наприкінці дня;\n* складність контролю калорій;\n* недостатнє споживання білка;\n* бажання покращити самопочуття та зовнішній вигляд.\n\nФокусуйся не на продукті, а на результаті для людини.\n\nСпочатку описуй проблему або потребу.\n\nПотім показуй рішення.\n\nЛише після цього згадуй продукти.\n\nОсновою рекомендацій мають бути здорові харчові звички та звичайні продукти харчування.\n\nПідбирай натуральні продукти відповідно до теми.\n\nПриклади:\n\n* яйця;\n* риба;\n* морепродукти;\n* курятина;\n* індичка;\n* творог;\n* грецький йогурт;\n* бобові;\n* овочі;\n* зелень;\n* ягоди;\n* цитрусові;\n* горіхи;\n* насіння;\n* чиста вода.\n\nПродукти Herbalife використовуй як додатковий інструмент для:\n\n* отримання білка;\n* контролю калорійності;\n* економії часу;\n* підтримки здорових харчових звичок;\n* зручності для зайнятих людей.\n\nЯкщо продукт Herbalife згадується:\n\n* поясни його роль;\n* підбери натуральні альтернативи із супермаркету;\n* враховуй калорійність та білок якщо дані доступні;\n* порівняй за зручністю використання.\n\nОцінка якості продуктів:\n\nНадавай перевагу продуктам з:\n\n* високою поживною цінністю;\n* достатньою кількістю білка;\n* клітковиною;\n* вітамінами;\n* мінералами;\n* помірною калорійністю;\n* мінімальною обробкою.\n\nОбмежено рекомендуй продукти з:\n\n* великою кількістю доданого цукру;\n* великою кількістю рафінованих вуглеводів;\n* низькою поживною цінністю;\n* надлишковою калорійністю.\n\nЯкщо згадуються солодкі газовані напої, десерти або ультраоброблені продукти, пояснюй що:\n\n* вони можуть давати короткочасний приплив енергії;\n* після різкого підйому цукру може виникати спад енергії;\n* регулярне надмірне споживання цукру може ускладнювати контроль апетиту;\n* надлишок цукру та нестача клітковини можуть негативно впливати на баланс мікробіоти кишківника;\n* здоров'я кишківника пов'язують зі станом шкіри, загальним самопочуттям та обміном речовин.\n\nНе стверджуй прямий причинно-наслідковий зв'язок між окремим продуктом та хворобою.\n\nВикористовуй формулювання:\n\n* \"може сприяти\";\n* \"може впливати\";\n* \"пов'язують з\";\n* \"дослідження показують зв'язок\".\n\nСтруктура поста:\n\n1. Яскравий заголовок.\n2. Короткий вступ.\n3. Основна користь.\n4. Практична порада.\n5. Заклик до дії.\n\nДовжина:\n\n800-1200 символів.\n\nДодай 3-5 релевантних хештегів.\n\nПеред написанням поста виконай внутрішньо:\n\n1. Визнач тему.\n2. Відбери релевантні продукти.\n3. Відкинь нерелевантні продукти.\n4. Підбери натуральні альтернативи.\n5. Склади тези.\n6. Напиши пост.\n7. Заповни JSON.\n\nПовертай тільки JSON.\n\nФормат:\n\n{\n\"title\": \"\",\n\"post_text\": \"\",\n\"topic\": \"\",\n\"products_used\": [],\n\"supermarket_alternatives\": [],\n\"hashtags\": [],\n\"score\": 0,\n\"approved\": false,\n\"issues\": [],\n\"suggestion\": \"\"\n}\n\nОцінка:\n\nscore від 1 до 10\n\n10 = відмінний пост\n8-9 = хороший пост\n6-7 = потребує покращення\n1-5 = потребує суттєвого доопрацювання\n\napproved=true лише якщо score >= 8.\n\nПеред поверненням відповіді перевір:\n\n* JSON валідний;\n* усі поля заповнені;\n* products_used є масивом;\n* supermarket_alternatives є масивом;\n* hashtags є масивом;\n* score є числом;\n* approved є булевим значенням.\n\nНе додавай текст поза JSON.\n"},{"role":"=user","content":"=Тема:\n\n{{ $('Select of Topic').item.json.title }}\n\nОпис теми:\n\n{{ $('Select of Topic').item.json.description }}\n\nПродукти Herbalife:\n\n{{\n` ${$json.herbalife_product.name}\n${$json.herbalife_product.category}\n ${$json.herbalife_product.description}`\n}}\n\nДоступні продукти:\n\n{{\n$json.food_products\n.map(p =>\n`Продукт: ${p.name}\nКатегорія: ${p.category}\nОпис: ${JSON.stringify(p.nutrition)}`\n)\n.join('\\n\\n')\n}}\n\nІнструкції:\n\n1. Визнач продукти, які дійсно релевантні темі.\n2. Не використовуй нерелевантні продукти.\n3. Якщо згадується Herbalife — запропонуй альтернативи зі звичайних продуктів.\n4. Якщо жоден продукт не підходить — не згадуй його.\n5. Основний акцент роби на користі для здорових харчових звичок та способу життя.\n6. Для зайнятих людей підкреслюй економію часу.\n7. Для підприємців та професіоналів підкреслюй продуктивність та якість життя.\n8. Створи Telegram-пост.\n9. Поверни лише JSON.\n"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","verbosity":"=medium","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"post_text\": {\n      \"type\": \"string\"\n    },\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"products_used\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"hashtags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"score\": {\n      \"type\": \"integer\",\n      \"default\":0\n    },\n    \"approved\": {\n      \"type\": \"boolean\",\n      \"default\":false\n    },\n    \"issues\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"default\":[]\n    },\n    \"suggestion\": {\n      \"type\": \"string\",\n      \"default\":\"\"\n    }\n  },\n  \"required\": [\n    \"title\",\n    \"post_text\",\n    \"topic\",\n    \"products_used\",\n    \"hashtags\",\n    \"score\",\n    \"approved\",\n    \"issues\",\n    \"suggestion\"\n  ],\n  \"additionalProperties\": false\n}"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[880,0],"id":"4adb03e7-b280-4d80-8da6-aedc6e8a0e34","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, description\nFROM topics\nWHERE id = {{ $json.topic_id }}\nORDER BY\n  priority DESC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,0],"id":"9b63c332-73c6-46b9-8804-f5eebda0f618","name":"Select of Topic","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"posts","mode":"list","cachedResultName":"posts"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{$('Select of Topic').item.json.title}}","topic":"={{$('Select of Topic').item.json.title}}","prompt":"={{$('Select of Topic').item.json.description}}","post_text":"={{$json.output[0].content[0].text.post_text}}","score":"={{ $json.output[0].content[0].text.score }}","status":"={{ $json.output[0].content[0].text.approved?'approved':'darft' }}","approved_at":"={{ new Date().toDateTime()}}","published_at":"={{ new Date().toDateTime()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_text","displayName":"post_text","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_materials","displayName":"source_materials","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"news_context","displayName":"news_context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gpt_response","displayName":"gpt_response","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"approved_at","displayName":"approved_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"published_at","displayName":"published_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-144],"id":"d367f7e2-7afe-4471-831e-1a57c7d94413","name":"Insert to Posts","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE topics\nSET used_at = now()\nWHERE id = {{ $('Select of Topic').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1904,-144],"id":"b579d292-0247-4621-b960-9ddf1cf251a4","name":"Update topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"WITH selected_topic AS (\n    SELECT {{ $('Select of Topic').item.json.id }}::integer AS topic_id\n),\n\nlinked_products AS (\n    SELECT p.*\n    FROM products p\n    JOIN product_topics pt ON pt.product_id = p.id\n    JOIN selected_topic st ON st.topic_id = pt.topic_id\n    ORDER BY RANDOM()\n    LIMIT 3\n),\n\nfallback_products AS (\n    SELECT p.*\n    FROM products p\n    ORDER BY RANDOM()\n    LIMIT 3\n),\n\nselected_products AS (\n    SELECT *\n    FROM linked_products\n\n    UNION ALL\n\n    SELECT *\n    FROM fallback_products\n    WHERE NOT EXISTS (SELECT 1 FROM linked_products)\n\n    LIMIT 3\n),\n\nrandom_food_products AS (\n    SELECT\n        jsonb_build_object(\n            'name', name,\n            'category', category,\n            'nutrition', raw_data\n        ) AS product\n    FROM food_products\n    WHERE is_allowed = TRUE\n    ORDER BY RANDOM()\n    LIMIT 10\n)\n\nSELECT jsonb_build_object(\n    'herbalife_products',\n    (\n        SELECT jsonb_agg(\n            jsonb_build_object(\n                'id', id,\n                'name', name,\n                'category', category,\n                'description', description\n            )\n        )\n        FROM selected_products\n    ),\n    'food_products',\n    (\n        SELECT jsonb_agg(product)\n        FROM random_food_products\n    )\n) AS context;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,0],"id":"9d0eada7-f91f-4755-899d-e1edba8ceea2","name":"JOIN product_topics","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}},{"parameters":{"jsCode":"const herbalife = [...$json.context.herbalife_products];\nconst food = [...$json.context.food_products];\n\n// 1 случайный Herbalife\nconst randomHerbalife =\n  herbalife[Math.floor(Math.random() * herbalife.length)];\n\n// Перемешиваем food\nfood.sort(() => Math.random() - 0.5);\n\n// Берем 5 случайных\nconst randomFood = food.slice(0, 5);\n\nreturn [{\n  json: {\n    herbalife_product: randomHerbalife,\n    food_products: randomFood\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,0],"id":"7f2947d0-6480-47ef-8092-075acbef7563","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output[0].content[0].text.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"5b81077c-09b5-4901-a9e9-ba7a83826136"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb0d837a-53a9-4ce1-a728-1cdec86a216d","leftValue":"={{ $json.output[0].content[0].text.approved }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1472,0],"id":"8c7b4788-0089-4b2d-bb8c-bb0890438a17","name":"Switch"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,0],"id":"4dd21ea0-f136-447b-80e0-7b0689066c82","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"0ZHhcsrLRipjRr4X2y0Dk","mode":"list","cachedResultUrl":"/workflow/0ZHhcsrLRipjRr4X2y0Dk","cachedResultName":"DB->Telegram"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2144,-144],"id":"48aae8fa-eccc-4dad-baca-b93857f7af96","name":"Call 'DB->Telegram'"},{"parameters":{"chatId":"=-1003984531998","text":"={{ \"Опубліковано топік номер \"+ $('Select of Topic').item.json.id }};","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2352,-144],"id":"d0125a3c-a8f1-4b37-a58b-26dbe4c00095","name":"Publish post of topic#","webhookId":"47ed7859-ddd5-483a-8488-813e06fa3ad9","credentials":{"telegramApi":{"id":"kNjUZRwebKKrCxtE","name":"Telegram account"}}}],"connections":{"Message a model":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Select of Topic":{"main":[[{"node":"JOIN product_topics","type":"main","index":0}]]},"Insert to Posts":{"main":[[{"node":"Update topics","type":"main","index":0}]]},"Update topics":{"main":[[{"node":"Call 'DB->Telegram'","type":"main","index":0}]]},"JOIN product_topics":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Insert to Posts","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select of Topic","type":"main","index":0}]]},"Call 'DB->Telegram'":{"main":[[{"node":"Publish post of topic#","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bc8b9d27-7ccd-4705-aa79-b92ed9ea5954","activeVersionId":"bc8b9d27-7ccd-4705-aa79-b92ed9ea5954","versionCounter":191,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T20:52:20.804Z","createdAt":"2026-06-04T20:52:20.804Z","role":"workflow:owner","workflowId":"NCCa62k8C003IJxs","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-04T20:52:28.064Z","createdAt":"2026-06-04T20:51:57.822Z","id":"oZ69l7TYucqxx9Ot-O13B","name":"Publich #topic","description":null,"active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"484e681d-2191-49f2-859d-ca1218b3e810","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T20:51:57.822Z","createdAt":"2026-06-04T20:51:57.822Z","role":"workflow:owner","workflowId":"oZ69l7TYucqxx9Ot-O13B","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]},{"updatedAt":"2026-06-04T18:57:10.295Z","createdAt":"2026-06-03T19:51:27.189Z","id":"okYfZFlOdzWYwzPlnmW6b","name":"PDF Catalog -> Products","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"76787743-2c8e-47e9-bc7a-44bf0e3c7097","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/home/node/.n8n-files/HL_catalog_2026.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-192,0],"id":"1edf41d9-e537-4df2-935e-ab4fd6327af7","name":"Read/Write Files from Disk"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[16,0],"id":"d434d7d7-9654-4dfa-8590-747bf4aa3f9c","name":"Extract from File"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst text = input.text || input.data || '';\n\nconst maxLength = 8000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push(text.slice(i, i + maxLength));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunk_id: index + 1,\n    content: chunk,\n    chars: chunk.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"eb783326-8e06-4b23-ab10-4297cfbbbc78","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ты анализируешь каталог Herbalife.\n\nИзвлеки все найденные продукты.\n\nДля каждого продукта верни:\n\n- name\n- category\n- description\n\n\nВерни ТОЛЬКО JSON массив.\n\nПример:\n\n[\n  {\n    \"name\": \"Формула 1\",\n    \"category\": \"Коктейль\",\n    \"description\": \"Белковый коктейль\",\n  }\n]\n\nЕсли данных нет — null.\nНикакого текста кроме JSON."},{"content":"={{$json.content}}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[480,0],"id":"c1f8ae8c-f7b0-44de-87d1-5f6029b4138d","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json.output?.[0]?.content?.[0]?.text || '';\n\n  const cleaned = raw\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!cleaned || cleaned === 'null') {\n    continue;\n  }\n\n  let products;\n\n  try {\n    products = JSON.parse(cleaned);\n  } catch (e) {\n    continue;\n  }\n\n  if (!Array.isArray(products)) {\n    continue;\n  }\n\n  for (const product of products) {\n    results.push({\n      json: {\n        name: product.name || null,\n        category: product.category || null,\n        description: product.description || null,\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-16],"id":"a4424576-e3b5-4d5c-bd4f-3dd3a697baa3","name":"Code in JavaScript2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","category":"={{ $json.category }}","description":"={{ $json.description }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"benefits","displayName":"benefits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingredients","displayName":"ingredients","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"usage_method","displayName":"usage_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"calories","displayName":"calories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"protein","displayName":"protein","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fiber","displayName":"fiber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vitamins","displayName":"vitamins","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source_file","displayName":"source_file","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"page_number","displayName":"page_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,-16],"id":"ae3ee7eb-8721-4da7-aad7-171e9bc1f533","name":"Insert rows in a table","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b1bc223-50ae-4e2b-9901-f65ab1501718","activeVersionId":null,"versionCounter":133,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-03T19:51:27.189Z","createdAt":"2026-06-03T19:51:27.189Z","role":"workflow:owner","workflowId":"okYfZFlOdzWYwzPlnmW6b","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}]