workflows/YAUOArFI6dZbEJL9.json
{"updatedAt":"2026-06-07T09:37:39.797Z","createdAt":"2026-06-04T14:30:39.581Z","id":"YAUOArFI6dZbEJL9","name":"PDF Ingredients Cataloge","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"c4f99a75-8d8a-4dcc-9518-02afe21204e0","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/home/node/.n8n-files/Ingridients.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-192,0],"id":"43141571-96d6-482b-bb66-10f75dffd431","name":"Read/Write Files from Disk"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[16,0],"id":"87dd8fdd-e369-4380-ab97-dcecac1d4e14","name":"Extract from File"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst text = input.text || input.data || '';\n\nconst maxLength = 8000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push(text.slice(i, i + maxLength));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    chunk_id: index + 1,\n    content: chunk,\n    chars: chunk.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"017a18d4-647d-49f6-bf8e-fe07ac395456","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Ты анализируешь справочную информацию по продуктам.\nПолезные элементы такие как белки жиры калории\nИзвлеки все найденные продукты.\n\nДля каждого продукта верни:\n\n- name\n- category \n- description:{\nобъект с полезными свойствами по продукту из справочника которые есть о продукте в этом справочнике\n}\n\n\n\n\nВерни ТОЛЬКО JSON массив.\n\nПример:\n\n[\n  {\n    \"name\": \"Брынза\",\n    \"category\": \"молочные продукты\",\n      \"description\": {\n      info:'на 100гр продукта'\n      proteins:'10г',\n      fetts:'20г',\n      calories:'250 kCal'\n      carbogidrates:'45',\n      omega3:'10г',\n      omega6:'0,1г',\n      .......\n      итак далее по составу подставляй в описание пункт елси нужно переводи его на английский\n      пункт:'значение'\n    },\n  }\n]\n\nЕсли данных нет — null.\nНикакого текста кроме JSON."},{"content":"={{$json.content}}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[480,0],"id":"3f407f01-d51d-44ff-bbbc-fc18487abefd","name":"Message a model","credentials":{"openAiApi":{"id":"6aAXEFPMtwN4Hnj7","name":"OpenAi account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json.output?.[0]?.content?.[0]?.text || '';\n\n  const cleaned = raw\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!cleaned || cleaned === 'null') {\n    continue;\n  }\n\n  let products;\n\n  try {\n    products = JSON.parse(cleaned);\n  } catch (e) {\n    continue;\n  }\n\n  if (!Array.isArray(products)) {\n    continue;\n  }\n\n  for (const product of products) {\n    results.push({\n      json: {\n        name: product.name || null,\n        category: product.category || null,\n        description: product.description || null,\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"06b5c1ac-82df-4dee-9b61-cb9e1b9cfebb","name":"Code in JavaScript2"},{"parameters":{"jsCode":"function getNested(obj, path) {\n  return path.split('.').reduce((acc, key) => acc?.[key], obj);\n}\n\nfunction toNumber(value) {\n  if (value === null || value === undefined || value === '') return null;\n\n  const cleaned = String(value)\n    .replace(',', '.')\n    .replace(/[^\\d.-]/g, '');\n\n  if (!cleaned) return null;\n\n  const num = Number(cleaned);\n  return Number.isFinite(num) ? num : null;\n}\n\nreturn $input.all().map(item => {\n  const data = item.json;\n  const desc = data.description || {};\n\n  return {\n    json: {\n      name: data.name || null,\n      category: data.category || null,\n\n      calories: toNumber(desc.calories),\n      proteins: toNumber(desc.proteins),\n      fats: toNumber(desc.fats),\n      carbohydrates: toNumber(desc.carbohydrates),\n\n      calories_raw: desc.calories || null,\n      proteins_raw: desc.proteins || null,\n      fats_raw: desc.fats || null,\n      carbohydrates_raw: desc.carbohydrates || null,\n\n      raw_data: data\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,0],"id":"5966441e-bb61-4e8f-b58f-d15bacdf19a9","name":"Code in JavaScript1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"food_products","mode":"list","cachedResultName":"food_products"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{$json.name}}","category":"={{$json.category}}","calories":"={{$json.calories}}","proteins":"={{$json.proteins}}","fats":"={{$json.fats}}","carbohydrates":"={{$json.carbohydrates}}","raw_data":"={{JSON.stringify($json.raw_data)}}","calories_raw":"={{$json.calories_raw}}","proteins_raw":"={{$json.proteins_raw}}","fats_raw":"={{$json.fats_raw}}","carbohydrates_raw":"={{$json.carbohydrates_raw}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"calories","displayName":"calories","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"proteins","displayName":"proteins","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fats","displayName":"fats","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"carbohydrates","displayName":"carbohydrates","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"simple_sugars","displayName":"simple_sugars","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"raw_data","displayName":"raw_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"calories_raw","displayName":"calories_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"proteins_raw","displayName":"proteins_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fats_raw","displayName":"fats_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"carbohydrates_raw","displayName":"carbohydrates_raw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,0],"id":"6e5e06ff-6c60-4af8-a0ba-fd38e46e0fb4","name":"Insert TO food_products","credentials":{"postgres":{"id":"VoSr3gQM5GhaRBRL","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Insert TO food_products","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8ea3f462-de85-4864-8bb8-eecba65d23ee","activeVersionId":null,"versionCounter":167,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T14:30:39.581Z","createdAt":"2026-06-04T14:30:39.581Z","role":"workflow:owner","workflowId":"YAUOArFI6dZbEJL9","projectId":"STPoC8QerQ9eB8XC","project":{"updatedAt":"2026-06-02T20:02:14.268Z","createdAt":"2026-06-02T19:46:29.461Z","id":"STPoC8QerQ9eB8XC","name":"Dmytro dmitriy.bilokhonov@gmail.com <dmitriy.bilokhonov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8a3e4738-3543-4fa5-b62f-a3402425cb6e"}}]}